<style type="text/css">
    label {
        display: block;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    
    label .label-text {
        color: #555;
        cursor: text;
        font-size: 15px;
        line-height: 20px;
        transform: translateY(-30px);
        transition: all 0.3s;
    }
    
    label .label-text1 {
        color: #555;
        cursor: text;
        font-size: 15px;
        line-height: 20px;
        transform: translateY(-35px);
        transition: all 0.3s;
    }
    
    label input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #4a4a4a1f;
        color: #555;
        font-size: 15px;
        outline: 0;
        padding: 5px 0px;
        transition: all 0.3s;
        width: 100%;
    }
    
    label input:focus {
        max-width: 100%;
        border-bottom: 2px solid #f16024;
    }
    
    label input:focus + .label-text {
        color: #f16024;
        font-size: 15px;
        transform: translateY(-50px);
    }
    
    label input:valid + .label-text {
        font-size: 13px;
        transform: translateY(-50px);
    }
    
    label textarea {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #4a4a4a1f;
        color: #555;
        font-size: 15px;
        outline: 0;
        padding: 5px 0px;
        transition: all 0.3s;
        width: 100%;
    }
    
    .dropdown-primary {
        position: relative;
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ced4da;
        outline: 0;
        height: 2.9rem;
        line-height: 2.9rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 0 .94rem 0;
        padding: 0;
        display: block;
    }
    
    #require {
        color: #f16024;
        font-size: 22px;
    }
</style>

<!-- MAIN CONTENT-->
<div class="main-content" style="padding-top: 0px !important;">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <button style="background: #f16024; color: #fff;" id="box_16" class="header_btn_change">Post Job</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <button id="box_17" class="header_btn_change">Post Service</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <button id="box_18" class="header_btn_change">Post Resume</button>
                    </div>
                </div>

            </div>
            <div id="section_16">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="qunit"></div> 
                        <form action="/user/post/job" method="POST">
                            <div class="au-card m-b-30" style="position: relative; margin-bottom: 100px !important;" id="qunit-fixture">
                                <div class="h_container">

                                </div>
                                <h2 style="position: absolute; color: #fff; text-shadow: 1px 1px 1px #777; ">POST A JOB</h2>
                                <h3 style="color: #555; margin-top: 110px;">Job Details</h3>

                                <div style="margin-top: 20px;" class="md-form">
                                    <select name="jobType" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Job Type<span id="require">*</span></option>
                                        {{#each jobcat}}
                                        <option value="{{JobCategory}}">{{JobCategory}}</option>
                                        {{/each}}
                                    </select>
                                    <!-- <label>Select Gender</label> -->
                                </div>
                                <label>
                                    <input type="text" name="skills" required />
                                    <div class="label-text">Required Specialsation/Slills<span id="require">*</span></div>
                                </label>
                                <label>
                                    <textarea name="jobDescription" placeholder="Job Descrition if Any"></textarea>
                                    <!-- <div class="label-text1">Job Descrition if Any</div> -->
                                </label>
                                <label>
                                    <input type="text" name="aVacancy" required />
                                    <div class="label-text">Available Vacancy<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="number" name="expiryDate" required />
                                    <div class="label-text">Job Expiry Date<span id="require">*</span></div>
                                </label>

                                <div class="md-form">
                                    <select name="country" class="mdb-select colorful-select dropdown-primary" required>
                                        <option value="" disabled selected>Country<span id="require">*</span></option>
                                        <option value="INDIA">INDIA</option>
                                    </select>
                                </div>

                                <div class="md-form">
                                    <select name="state" class="mdb-select colorful-select dropdown-primary" required>
                                        <option value="" disabled selected>State<span id="require">*</span></option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="NCR">NCR</option>
                                    </select>
                                </div>
                                <label>
                                    <input type="text" name="city" required />
                                    <div class="label-text">City<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="text" name="jobArea" required />
                                    <div class="label-text">Job Area<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="number" name="pinCode" />
                                    <div class="label-text">Pin Code</div>
                                </label>
                                <label>
                                    <input type="text" name="jobAddress" />
                                    <div class="label-text">Job Address</div>
                                </label>
                                <h3 style="color: #555; margin-top: 10px; margin-bottom: 10px;">Professional Details</h3>
                                <label>
                                    <input type="number" name="salary" />
                                    <div class="label-text">Offered Salary (Monthly) INR</div>
                                </label>
                                <label>
                                    <input type="number" name="experience" required />
                                    <div class="label-text">Required Experience (Yearly)<span id="require">*</span></div>
                                </label>

                                <div class="md-form">
                                    <select name="shift" class="mdb-select colorful-select dropdown-primary" required>
                                        <option value="" disabled selected>Select Shift</option>
                                        <option value="Full Time Day">Full Time Day</option>
                                        <option value="Full Time Night">Full Time Night</option>
                                        <option value="Part Time Evening">Part Time Evening</option>
                                        <option value="PArt Time Morning">PArt Time Morning</option>
                                        <option value="Daily Based">Daily Based</option>
                                        <option value="On Requirment">On Requirment</option>
                                    </select>
                                </div>

                                <div class="md-form">
                                    <select name="gender" class="mdb-select colorful-select dropdown-primary" required>
                                        <option value="" disabled selected>Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <label>
                                    <textarea placeholder="Educations" name="educations"></textarea>
                                    <!-- <div class="label-text1">Educations</div> -->
                                </label>
                                <label>
                                    <textarea placeholder="Known Language" name="knownLanguage"></textarea>
                                    <!-- <div class="label-text1">Known Language</div> -->
                                </label>
                                <h3 style="color: #555; margin-top: 10px; margin-bottom: 10px;">Employer Contact Details</h3>
                                <label>
                                    <input type="text" name="companyName" required />
                                    <div class="label-text">Name of Company/Business/Other<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="text" name="nameOfRepresentative" required />
                                    <div class="label-text">Name of Representative<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="number" name="mobile" required />
                                    <div class="label-text">Mobile<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="number" name="landline" />
                                    <div class="label-text">Landline No</div>
                                </label>
                                <label>
                                    <input type="Email" name="email" />
                                    <div class="label-text">Email</div>
                                </label>
                                <label>
                                    <input type="text" name="idCardNumber" required />
                                    <div class="label-text">Aadhar/Voter Card No<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="text" name="addressOfEmployer" />
                                    <div class="label-text">Address of Employer</div>
                                </label>
                                <div class="md-form">
                                    <select name="contactTiming" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Contect Timing</option>
                                        <option value="6 am to 12 pm">6 am to 12 pm</option>
                                        <option value="12 pm to 6 pm">12 pm to 6 pm</option>
                                        <option value="6 pm to 10 pm">6 pm to 10 pm</option>
                                        <option value="6 am to 10 pm">6 am to 10 pm</option>
                                        <option value="24 Hour">24 Hour</option>
                                    </select>
                                </div>

                                <div class="md-form">
                                    <select name="lookingOverseas" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Looking Overseeas</option>
                                        <option value="Male">Yes</option>
                                        <option value="Female">No</option>
                                    </select>
                                </div>
                                <div class="md-form">
                                    <select name="paymentPlan" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Payment</option>
                                        <option value="none">Select Plan</option>
                                        <option value="On Post 1 To 5 Jobs FREE">On Post 1 To 5 Jobs FREE</option>
                                        <option value="On Post 6 to 10 Jobs 500 Rs.">On Post 6 to 10 Jobs 500 Rs.</option>
                                        <option value="On Post 10 to 15 Jobs 800 Rs.">On Post 10 to 15 Jobs 800 Rs.</option>
                                        <option value="On Post More Than 15 Jobs">On Post More Than 15 Jobs</option>
                                    </select>
                                </div>
                                <label>
                                    <input type="checkbox" name="termsandcondition"  checked required/>
                                    <div style="text-align: center;" class="label-text">Agree with Tearms And Conditions</div>
                                </label>
                                <button type="submit" style="background: #f16024; color: #fff; padding: 5px 20px; border-radius: 3px;">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="section_17" style="display: none;">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="qunit"></div>
                        <form action="/user/post/service" method="POST" enctype="multipart/form-data">
                            <div class="au-card m-b-30" style="position: relative; margin-bottom: 100px !important;" id="qunit-fixture">
                                <div class="h_container">

                                </div>
                                <h2 style="position: absolute; color: #fff; text-shadow: 1px 1px 1px #777; ">POST A SERVICE</h2>
                                <h3 style="color: #555; margin-top: 110px;">Provide Service Details</h3>
                                <label style="display: none;">
                                    <input type="text" value="unverfied" name="verifi" />
                                    <div class="label-text">verified/unverfied</div>
                                </label>
                                <div style="margin-top: 20px;" class="md-form">
                                    <select name="TypeOfService" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Select Service<span id="require">*</span></option>
                                        {{#each SerCat}}
                                        <option value="{{Service}}">{{Service}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <label>
                                    <input type="text" name="Specification" />
                                    <div class="label-text">Service Specification</div>
                                </label>

                                <div class="md-form">
                                    <select name="ProvideServices" class="mdb-select colorful-select dropdown-primary" required>
                                        <option value="" disabled selected>Timing for Provide Services<span id="require">*</span></option>
                                        <option value="Full Time Day">Full Time Day</option>
                                        <option value="Full Time Night">Full Time Night</option>
                                        <option value="Part Time Evening">Part Time Evening</option>
                                        <option value="PArt Time Morning">PArt Time Morning</option>
                                        <option value="Daily Based">Daily Based</option>
                                        <option value="On Requirment">On Requirment</option>
                                    </select>
                                </div>
                                <label>
                                    <input type="text" name="ProviderRegistered" />
                                    <div class="label-text">Services Provider Registered on</div>
                                </label>
                                <label>
                                    <input type="text" name="RegisteredExpiry" />
                                    <div class="label-text">Services Registered Expiry Date</div>
                                </label>
                                <div class="md-form">
                                    <select name="Country" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Service Providing Country</option>
                                        <option value="INDIA">INDIA</option>
                                    </select>
                                </div>
                                <div class="md-form">
                                    <select name="State" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Service Providing State</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="NCR">NCR</option>
                                    </select>
                                </div>

                                <label>
                                    <input type="text" name="City" />
                                    <div class="label-text">Service Providing City</div>
                                </label>

                                <label>
                                    <input type="text" name="Area" />
                                    <div class="label-text">Services Providing Area</div>
                                </label>

                                <h3 style="color: #555; margin-top: 10px; margin-bottom: 10px;">Service Provider Details</h3>
                                <label>
                                    <input type="text" name="Agency" required />
                                    <div class="label-text">Services Provider Agency Name<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="text" name="Representative" required />
                                    <div class="label-text">Name of Representative/Service Provider<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="number" name="MobileNumber" required />
                                    <div class="label-text">Mobile Number<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="number" name="LandNumber" />
                                    <div class="label-text">Landline Number</div>
                                </label>

                                <div class="md-form">
                                    <select name="Timing" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Contect Timing</option>
                                        <option value="6 am to 12 pm">6 am to 12 pm</option>
                                        <option value="12 pm to 6 pm">12 pm to 6 pm</option>
                                        <option value="6 pm to 10 pm">6 pm to 10 pm</option>
                                        <option value="6 am to 10 pm">6 am to 10 pm</option>
                                        <option value="24 Hour">24 Hour</option>
                                    </select>
                                </div>
                                <label>
                                    <input type="text" name="aadharcard" required />
                                    <div class="label-text">Aadhar / Voter / Other Govt Card No<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="text" name="website" />
                                    <div class="label-text">Website</div>
                                </label>
                                <label>
                                    <input type="text" name="emailMobile" />
                                    <div class="label-text">Email/Mobile</div>
                                </label>
                                <label>
                                    <input type="text" name="address" required />
                                    <div class="label-text">Address Of Services Provider<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="text" name="pincode" />
                                    <div class="label-text">Pincode</div>
                                </label>
                                <label>
                                    <input type="text" name="information" />
                                    <div class="label-text">Any Information About Your Services</div>
                                </label>
                                <div class="md-form">
                                    <select name="payment" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Choose Payment Plan</option>
                                        <option value="Three Hundred Rs. For 6 Month">Three Hundred Rs. For 6 Month</option>
                                        <option value="Five Hundred Rs.For 12 Month">Five Hundred Rs.For 12 Month</option>
                                        <option value="Seven Hundred Rs.For 18 Month">Seven Hundred Rs.For 18 Month</option>
                                        <option value="More Than Upto 18 Months">More Than Upto 18 Months</option>
                                        <option value="24 Hour">24 Hour</option>
                                    </select>
                                </div>
                                <label>
                                    <input style="margin-top: 20px;" class="form-control" type="file" name="file" required>
                                </label>
                                <label>
only pdf required type="checkbox" name="termsandcondition"  checked required/>
                                    <div style="text-align: center;" class="label-text">Agree with Tearms And Conditions</div>
                                </label>

                                <button type="submit" style="background: #f16024; color: #fff; padding: 5px 20px; border-radius: 3px;">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div id="section_18" style="display: none;">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="qunit"></div>
                        <form action="/user/post/resume" method="POST" enctype="multipart/form-data">
                            <div class="au-card m-b-30" style="position: relative; margin-bottom: 100px !important;" id="qunit-fixture">
                                <div class="h_container">

                                </div>
                                <h2 style="position: absolute; color: #fff; text-shadow: 1px 1px 1px #777; ">POST A RESUME</h2>
                                <h3 style="color: #555; margin-top: 110px;">Contact Information</h3>

                                <div class="md-form">
                                    <select name="JobCat" class="mdb-select colorful-select dropdown-primary" required>
                                        <option value="" disabled selected>Select Service*</option>
                                        {{#each SerCat}}
                                        <option value="{{Service}}">{{Service}}</option>
                                        {{/each}}
                                    </select>
                                    <!-- <label>Required Job Category</label> -->
                                </div>

                                <label>
                                    <input type="text" name="Name" required/>
                                    <div class="label-text">Name<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="number" name="Mobile" required/>
                                    <div class="label-text">Mobile<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="number" name="AlternateNum" />
                                    <div class="label-text">Alternate Number</div>
                                </label>
                                <label>
                                    <input type="email" name="EmailorMobile" />
                                    <div class="label-text">Email id/Mobile</div>
                                </label>
                                <label>
                                    <input type="text" name="AdharNo" required/>
                                    <div class="label-text">Aadhar /Voter Card No<span id="require">*</span></div>
                                </label>
                                <div class="md-form">
                                    <select name="Country" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Select Countery</option>
                                        <option value="INDIA">INDIA</option>
                                    </select>
                                </div>
                                <div class="md-form">
                                    <select name="State" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Select State</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="NCR">NCR</option>
                                    </select>
                                </div>
                                <label>
                                    <input type="text" name="City" required/>
                                    <div class="label-text">City<span id="require">*</span></div>
                                </label>
                                <label>
                                    <input type="number" name="Pincode" />
                                    <div class="label-text">Pincode</div>
                                </label>
                                <label>
                                    <input type="text" name="Address" />
                                    <div class="label-text">Address</div>
                                </label>

                                <!-- ==================================about my self=============================== -->

                                <h4>About My Self</h4>
                                <div class="md-form">
                                    <select name="Gender" class="mdb-select colorful-select dropdown-primary" required>
                                        <option value="" disabled selected>Select Gender*</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <label>
                                    <input type="texty" name="DOB" required/>
                                    <div class="label-text">DOB<span id="require">*</span></div>
                                </label>
                                <div class="md-form">
                                    <select name="Religin" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Select Religion</option>
                                        <option value="Hindu">Hindu</option>
                                        <option value="Muslim">Muslim</option>
                                        <option value="Sikh">Sikh</option>
                                        <option value="Isai">Isai</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <label>
                                    <input type="text" name="knownLanguage" />
                                    <div class="label-text">Language Known</div>
                                </label>

                                <!-- ==========================Education Details*: -->
                                <h4>Education Details</h4>
                                <label>
                                    <input type="text" name="Class" />
                                    <div class="label-text">Class</div>
                                </label>
                                <label>
                                    <input type="text" name="Degree" />
                                    <div class="label-text">Degree</div>
                                </label>
                                <label>
                                    <input type="text" name="PG" />
                                    <div class="label-text">P.G.</div>
                                </label>
                                <label>
                                    <input type="text" name="Diploma" />
                                    <div class="label-text">Diploma</div>
                                </label>
                                <label>
                                    <input type="text" name="Course" />
                                    <div class="label-text">Course</div>
                                </label>
                                <label>
                                    <textarea placeholder="Career Objective" name="CareerObjective"></textarea>
                                </label>
                                <label>
                                    <textarea placeholder="Other Details" name="OtherDetails"></textarea>
                                </label>

                                <div class="md-form mb-5">
                                    <p>Upload Photo</p>
                                    <input type="file" name="file" id="form17" class="form-control validate">
                                </div>
                                <h4>Other Details:</h4>
                                <div class="md-form mb-5">
                                    <p>Upload Resume (only pdf required)</p>
                                    <input type="file" id="form18" name="resume" class="form-control validate">
                                </div>
                                <h5>Reference Contact</h5>
                                <label>
                                    <input type="text" name="ReferenceName" />
                                    <div class="label-text">Reference Name</div>
                                </label>
                                <label>
                                    <input type="text" name="ReferenceMobile" />
                                    <div class="label-text">Reference Mobile</div>
                                </label>

                                <h3>Looking Overseas ?</h3>
                                <div class="md-form">
                                    <select name="LookingOverseas" class="mdb-select colorful-select dropdown-primary" required>
                                        <option value="" disabled selected>Select Overseas<span id="require">*</span></option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>

                                <!-- =================================================== -->

                                <label for="chkPassport">
                                    <input style="position: static!important; left: -9999px; visibility: unset!important;" type="checkbox" id="chkPassport" />Please Tick If do you have current Work Details</label>
                                <hr />
                                <label id="dvPassport" style="display: none;">
                                    <input type="text" name="NameofImpoloyer" />
                                    <div class="label-text">Name of Current Employer</div>
                                </label>
                                <label id="dvPassport1" style="display: none;">
                                    <input type="text" name="PositionDesignation" />
                                    <div class="label-text">Position / Designation</div>
                                </label>
                                <div class="md-form" id="dvPassport2" style="display: none;">
                                    <select name="MainJobCategory" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Select Job Category</option>
                                        {{#each jobcat}}
                                        <option value="{{JobCategory}}">{{JobCategory}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <label id="dvPassport3" style="display: none;">
                                    <textarea placeholder="Skills" name="Skills"></textarea>
                                </label>
                                <label id="dvPassport4" style="display: none;">
                                    <input type="number" name="Experience" />
                                    <div class="label-text">Experience</div>
                                </label>
                                <label id="dvPassport5" style="display: none;">
                                    <input type="number" name="currentSalary" />
                                    <div class="label-text">Current Salary (INR/Month)</div>
                                </label>
                                <label id="dvPassport6" style="display: none;">
                                    <input type="number" name="ExpSalary" />
                                    <div class="label-text">Expected Salary (INR/Month)</div>
                                </label>

                                <div class="md-form" id="dvPassport7" style="display: none;">
                                    <select name="PriferredShift" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Select Shift</option>
                                        <option value="Full Time Night">Full Time Day</option>
                                        <option value="Full Time Night">Full Time Night</option>
                                        <option value="Part Time Evening">Part Time Evening</option>
                                        <option value="Part Time Morning">Part Time Morning</option>
                                        <option value="Daily Based">Daily Based</option>
                                        <option value="On Requirment">On Requirment</option>

                                    </select>
                                </div>
                                <label id="dvPassport8" style="display: none;">
                                    <textarea placeholder="Preferred Job Description" name="PriferredJobDescription"></textarea>
                                </label>
                                <label id="dvPassport8" style="display: none;">
                                    <textarea placeholder="Preferred Job Description" name="PriferredJobDescription"></textarea>
                                </label>
                                <label id="dvPassport9" style="display: none;">
                                    <textarea placeholder="Preferred Location" name="PriferredLocation"></textarea>
                                </label>

                                <!-- =============================================== -->

                                <label for="chkPassport1">
                                    <input style="position: static!important; left: -9999px; visibility: unset!important;" type="checkbox" id="chkPassport1" /> If do you have past work Details
                                </label>
                                <hr />
                                <label id="dcPassport" style="display: none;">
                                    <input type="text" name="NameofImpoloyer1" />
                                    <div class="label-text">Name of Employer</div>
                                </label>

                                <label id="dcPassport1" style="display: none;">
                                    <input type="text" name="PositionDesignation1" />
                                    <div class="label-text">Position / Designation</div>
                                </label>

                                <div class="md-form" id="dcPassport2" style="display: none;">
                                    <select name="JobCategory1" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected> Selecte Job Category</option>
                                        {{#each jobcat}}
                                        <option value="{{JobCategory}}">{{JobCategory}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <label id="dcPassport4" style="display: none;">
                                    <input type="text" name="State1City1" />
                                    <div class="label-text">State / City</div>
                                </label>
                                <label id="dcPassport5" style="display: none;">
                                    <input type="number" name="Experience1" />
                                    <div class="label-text">Experience</div>
                                </label>

                                <div class="md-form" id="dcPassport6" style="display: none;">
                                    <select name="shift1" class="mdb-select colorful-select dropdown-primary">
                                        <option value="" disabled selected>Select Shift</option>
                                        <option value="Full Time Night">Full Time Day</option>
                                        <option value="Full Time Night">Full Time Night</option>
                                        <option value="Part Time Evening">Part Time Evening</option>
                                        <option value="Part Time Morning">Part Time Morning</option>
                                        <option value="Daily Based">Daily Based</option>
                                        <option value="On Requirment">On Requirment</option>
                                    </select>
                                </div>

                                <label id="dcPassport7" style="display: none;">
                                    <textarea placeholder="Job Description" name="jobDescription1"></textarea>
                                    <!-- <div class="label-text1">Job Description</div> -->
                                </label>
                                <label id="dcPassport9" style="display: none;">
                                    <input type="number" name="SalaryWithdrawn" />
                                    <div class="label-text">Salary Withdrawn (INR/Month)</div>
                                </label>
                                <button type="submit" style="background: #f16024; color: #fff; padding: 5px 20px; border-radius: 3px;">Submit</button>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
