
       <style type="text/css">
         #carousel-item{
            padding: 20px;
            height: 70vh;
            overflow: scroll;
        }
        .ch-itemone{
          border-radius: 50% 0% 50% 50%;
          box-shadow: inset 0px 0px 50px 1px rgba(0,0,0,0.1);
        }
        .HomeActive{
          background-color: #d64408 !important;
          border-radius: 5px !important;
          color: yellow !important;
        }
        @media (max-width: 767px) {
            .imageDiwal {
                max-height: 173px;
            }
        }
       </style>


                <!-- HEADER 
            =================-->
                <header id="conent">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
 
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="img-caption-hide"></div>
                          <img class="d-block w-100 img-fluid" src="/img/1.jpg" alt="First slide">
                          <div class="silder-para d-md-block">
                            <!-- <h3>Welcome to <span>Startup</span></h3> -->
                            We Provide Worker & Services after right verification with your safety.
                            <!-- <div class="btn btn-general btn-white">Buy now</div> -->
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="img-caption-hide"></div>
                          <img class="d-block w-100" src="/img/2.jpg" alt="Second slide">
                          <div class="silder-para d-md-block">
                            <!-- <h3><span>Derive </span>with me</h3> -->
                            We provide Worker & Services from your locality. In right & fixed ammount get best job / workers / services
                            <!-- <div class="btn btn-general btn-white">Buy now</div> -->
                          </div>
                        </div> 
                      </div>
                      <a class="carousel-control-prev carousel-arrs" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="arrow-sliders"><i class="fa fa-angle-left"></i></span>
                      </a>
                      <a class="carousel-control-next carousel-arrs" href="#carouselExampleIndicators" role="button" data-slide="next">
                         <span class="arrow-sliders"><i class="fa fa-angle-right"></i></span>
                      </a>
                    </div>
                  </header>

                  <div class="row-fluid" style="margin-top: 50px; ">
                    <div class="col-md-12">
                        <center><p>SEARCH RIGHT WORKER / SERVICES</p></center>
                   </div>
                   <div class="row col-md-12">
                   <div class="col-md-2"></div> 
                      <div class="col-md-4">
                        <!-- <button>QUICK SEARCH</button> -->
                        <button id="border" class="btnnnn btn-success" data-toggle="modal" data-target="#myModal1">LOGIN/RAGISTRATION</button>
                      </div>
                      <div class="col-md-4">
                        <!-- <button>QUICK SEARCH</button> -->
                        <button id="border" class="btnnnn btn-success" data-toggle="modal" data-target="#myModal">QUICK SEARCH</button>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                    
        <!-- HEADER 
            =================-->
                <header id="conent1" style="background: #f16024; margin-top: 78px;">
                    <span style="display: flex; justify-content: center;"><h3 style="text-align: center; color: #fff; padding: 4px 32px; border: 2px solid #fff; font-weight: lighter; width: max-content; margin-top: 18px; border-radius: 100px;">OUR WORKERS</h3></span>
                    <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
 
                      <div class="carousel-inner">
                        <div id="carousel-item" class="carousel-item active" style="padding: 20px;">
                         
                          <div class="row">

                            {{#each alljobcategory}}                            
                            <div class="col-md-2">
                              <div class="cards">
                              <div class="card">
                                <center><img src="{{awsImageUrl}}"></center>
                                <div class="card-title" style="margin: 0px !important;">
                                  <a href="#" class="toggle-info btn2">
                                    <span class="left"></span>
                                    <span class="right"></span>
                                  </a>
                                  <h5 title="{{JobCategory}}" style="color: #555;">
                                      {{JobCategory}}
                                  </h5>
                                </div>
                                <div  class="card-flap flap1">
                                  <div class="card-flap flap2">
                                    <div class="card-actions">
                                      
                                      <a href="{{JobCategory}}" title="{{JobCategory}}" id="btn2" class="btn2 workerid">Workers</a>
                                      <a href="{{JobCategory}}" title="{{JobCategory}}" id="btn3" class="btn2 jobid">Jobs</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {{/each}}
                        </div> 
                      </div>
                    </div>
                  </header>



                  <header id="conent2" style="background: #f16024;">
                    <span style="display: flex; justify-content: center;"><h3 style="text-align: center; color: #fff; padding: 4px 32px; border: 2px solid #fff; font-weight: lighter; width: max-content; margin-top: 18px; border-radius: 100px;">OUR SERVICE PROVIDER</h3></span>
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
 
                      <div class="carousel-inner">
                        <div id="carousel-item" class="carousel-item active" style="padding: 20px;">
                          <div class="row">
                            {{#each allService}}
                            <div class="col-md-2">
                              <div class="cards">
                              <div class="card">
                                <center><img src="{{awsImageUrl}}"></center>
                                <div class="card-title" style="margin: 0px !important;">
                                  <a href="#" class="toggle-info btn2">
                                    <span class="left"></span>
                                    <span class="right"></span>
                                  </a>
                                  <h5 style="color: #555;">
                                      {{Service}}<br>
                                  </h5>
                                </div>
                                <div class="card-flap flap1">
                                  <div class="card-flap flap2">
                                    <div class="card-actions">
                                      <a href="{{Service}}" title="{{Service}}" id="btn4" class="btn2 searviceid">Services</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {{/each}}
                        </div> 
                      </div>
                    </div>
                  </header>


<!-- ========================================================================================================  -->
      <div style="text-align: center;">
        <span style="display: flex; justify-content: center;"><h3 style="text-align: center; color: #555; padding: 4px 32px; border: 2px solid #555; font-weight: lighter; width: max-content; margin: 0px 0px 24px 0px; border-radius: 100px;">HOW WE WORK</h3></span>
      </div>

      <div class="container">
        <button id="one1" style="outline: none; background: #F16023; border: 1px solid #F16023; color: #fff; font-size: 15px; padding: 5px 15px; border-radius: 3px; cursor: pointer;">Employer</button>
        <button id="two2" style="outline: none; background: none; border: 1px solid #F16023; color: #F16023; font-size: 15px; padding: 5px 15px; border-radius: 3px; cursor: pointer;">Worked / Services</button>
      </div>
      <section class="main1">
        <ul class="ch-gridone">
          <li>
            <div class="ch-itemone ch-img-1one">        
              <div class="ch-info-wrapone">
                <div class="ch-infoone">
                  <div class="ch-info-frontone ch-img-1one"></div>
                  <div class="ch-info-backone">
                    <h3>Collect Details</h3>
                    <p>Collect Details for required Right Worker / Services</p>
                  </div>  
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-itemone ch-img-2one">
              <div class="ch-info-wrapone">
                <div class="ch-infoone">
                  <div class="ch-info-frontone ch-img-2one"></div>
                  <div class="ch-info-backone">
                    <h3>Verification</h3>
                    <p>Verification of Workers / Services Seekers by Email / OTP / Other</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-itemone ch-img-3one">
              <div class="ch-info-wrapone">
                <div class="ch-infoone">
                  <div class="ch-info-frontone ch-img-3one"></div>
                  <div class="ch-info-backone">
                    <h3>Post Details</h3>
                    <p>Post Details of Employer and it's required Worker and Services Provider</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-itemone ch-img-4one">
              <div class="ch-info-wrapone">
                <div class="ch-infoone">
                  <div class="ch-info-frontone ch-img-4one"></div>
                  <div class="ch-info-backone">
                    <h3>Connect Employers</h3>
                    <p>Connect Employers with right Workers & Services Provider</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-itemone ch-img-5one">
              <div class="ch-info-wrapone">
                <div class="ch-infoone">
                  <div class="ch-info-frontone ch-img-5one"></div>
                  <div class="ch-info-backone">
                    <h3>Thank you</h3>
                    <p>Thanks for using our services meet again</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        
      </section>
      <section class="main2" style="display: none;">
        <ul class="ch-gridone">
          <li>
            <div class="ch-itemone ch-img-6one">        
              <div class="ch-info-wrapone">
                <div class="ch-infoone">
                  <div class="ch-info-frontone ch-img-6one"></div>
                  <div class="ch-info-backone">
                    <h3>Registration</h3>
                    <p>Registration of Worker or Services Provider by Site / App / Call</p>
                  </div>  
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-itemone ch-img-7one">
              <div class="ch-info-wrapone">
                <div class="ch-infoone">
                  <div class="ch-info-frontone ch-img-7one"></div>
                  <div class="ch-info-backone">
                    <h3>Verification of Worker</h3>
                    <p>Verification of Worker / Services Provider by Email / OTP / Other</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-itemone ch-img-8one">
              <div class="ch-info-wrapone">
                <div class="ch-infoone">
                  <div class="ch-info-frontone ch-img-8one"></div>
                  <div class="ch-info-backone">
                    <h3>Post Details</h3>
                    <p>Post Details of Right Worker / Services Provider on Website</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-itemone ch-img-9one">
              <div class="ch-info-wrapone">
                <div class="ch-infoone">
                  <div class="ch-info-frontone ch-img-9one"></div>
                  <div class="ch-info-backone">
                    <h3>Job Seeker</h3>
                    <p>Connect Right Worker / Service Provider with Employer according to their skill</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        
      </section>


        <!-- RECENT RIGHT WORKERS/JOBS -->
    <div class="recents">
      <span style="display: flex; justify-content: center;"><h3 style="text-align: center; color: #888; text-shadow: 1px 1px #495057; padding: 4px 32px; border: 2px solid #888; font-weight: lighter; width: max-content; margin:0px 0px 6px 0px; border-radius: 100px;">RECENT RIGHT WORKERS/JOBS</h3></span>
      <p style="text-align: center; font-size: 14px;">Note: For contect note ID and login</p>

        <div class="container-fluid" style="padding: 0px !important;">

            <div class="row">
                <div style="width: 100%;" id="Div1" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->

                    <div class="carousel-inner">

                        <div class="item active container" style="padding: 0px !important;">
                            <marquee onmouseover="this.stop()" onmouseout="this.start()">
                            <table id="ContentPlaceHolder1_dlservices" cellspacing="0" style="border-collapse:collapse;">
                              <tr>
                                <!-- RECENT WORKERS -->

                                {{#each allrecentworkers}}
                                <td>
                                  <div class="col-md-12 col-sm-6 col-xs-6">
                                    <div class="jobs2">
                                      <div>
                                      <span class='list-group gallery'>
                                        <a class="thumbnail fancybox" rel="ligthbox" href='photo/simg720.jpg'>
                                          <img src='img/logo.png' />
                                        </a>
                                      </span>
                                      <div style="background: #f16024; overflow: hidden; text-overflow: ellipsis; padding: 5px; border-radius: 50px; text-align: center; margin-bottom: 20px;">
                                        <span style="color: #fff;">
                                          {{JobCat}}
                                        </span><br>
                                        <!-- <span style="color: #fff; font-size: 12px;">
                                          UISINE ART FAMILY RESTURA ...
                                        </span> -->
                                      </div>
                                      </div>
                                       <div class="clearfix"></div>
                                       <table class="table" style="font-size: 12px;">
                                        <tr>
                                          <th>Worker Id</th>
                                          <td>{{pwid}}</td>
                                        </tr>
                                        <tr>
                                          <th>Worker Name</th>
                                          <td>{{Name}}</td>
                                        </tr>
                                        <tr>
                                          <th>Expected Salary (INR)</th>
                                          <td>{{ExpSalary}}</td>
                                        </tr>
                                        <tr>
                                          <th>Experience</th>
                                          <td>
                                            <span id="ContentPlaceHolder1_dlservices_lbllocser_9">{{Experience}}</span>
                                          </td>
                                        </tr>
                                        <tr>
                                          <th>Education</th>
                                          <td>{{Class}}/{{Degree}}/{{PG}}/{{Diploma}}</td>
                                        </tr>
                                        <tr>
                                          <th>Location</th>
                                          <td>{{PriferredLocation}}</td>
                                        </tr>
                                        <tr>
                                          <th>Type</th>
                                          <td>Worker</td>
                                        </tr>
                                        </table>
                                                               
                                        <div class="clearfix"></div>
                                      </div>
                                    </div>
                                  </td>
                                  {{/each}}

                                <!-- RECENT JOBS -->
                                {{#each allrecentjobs}}
                                  <td>
                                  <div class="col-md-12 col-sm-6 col-xs-6">
                                    <div class="jobs1">
                                      <span class='list-group gallery'>
                                        <a class="thumbnail fancybox" rel="ligthbox" href='photo/simg720.jpg'>
                                          <img src='img/logo.png' />
                                        </a>
                                      </span>
                                      <div style="background: #f16024; overflow: hidden; text-overflow: ellipsis; padding: 5px; border-radius: 50px; text-align: center; margin-bottom: 20px;">
                                        <span style="color: #fff;">
                                          {{jobType}}
                                        </span><br>
                                        <!-- <span style="color: #fff; font-size: 12px;"> -->
                                          <!-- UISINE ART FAMILY RESTURA ... -->
                                        <!-- </span> -->
                                      </div>
                                       <div class="clearfix"></div>
                                       <table class="table" style="font-size: 12px;">
                                        <tr>
                                          <th>Job Type</th>
                                          <td>{{jobType}}</td>
                                        </tr>
                                        <tr>
                                          <th>Job Id</th>
                                          <td>{{JobID}}</td>
                                        </tr>
                                        <tr>
                                          <th>Salary (INR)</th>
                                          <td>{{salary}}</td>
                                        </tr>
                                        <tr>
                                          <th>Experience</th>
                                          <td>
                                            <span id="ContentPlaceHolder1_dlservices_lbllocser_9">{{experience}}</span>
                                          </td>
                                        </tr>
                                        <tr>
                                          <th>Location</th>
                                          <td>{{jobArea}}</td>
                                        </tr>
                                        <tr>
                                          <th>Vacancy</th>
                                          <td>{{aVacancy}}</td>
                                        </tr>
                                        <tr>
                                          <th>Type</th>
                                          <td>JOb</td>
                                        </tr>
                                        </table>
                                                              
                                        <div class="clearfix"></div>
                                      </div>
                                    </div>
                                  </td>
                                  {{/each}}
                                </tr>

                              </table></marquee>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="recents" style="background: #ededed !important;">

                    <span style="display: flex; justify-content: center;"><h3 style="text-align: center; color: #888; text-shadow: 1px 1px #495057; padding: 4px 32px; border: 2px solid #888; font-weight: lighter; width: max-content; margin:0px 0px 6px 0px; border-radius: 100px;">RECENT SERVICES</h3></span>
                    <p style="text-align: center;font-size: 14px;">Note: For contect note ID and login</p>

                      <div class="container-fluid" style="padding: 0px !important;">

                          <div class="row">
                              <div style="width: 100%;" id="Div1" class="carousel slide" data-ride="carousel">
                                  <!-- Wrapper for slides -->

                                  <div class="carousel-inner">

                                      <div class="item active container" style="padding: 0px !important;">
                                          <marquee onmouseover="this.stop()" onmouseout="this.start()">
                                          <table id="ContentPlaceHolder1_dlservices" cellspacing="0" style="border-collapse:collapse;">
                                            <tr>
                                              {{#each allrecentsers}}
                                              <td>
                                                <div class="col-md-12 col-sm-6 col-xs-6">
                                                  <div class="jobs2">
                                                    <span class='list-group gallery'>
                                                      <a class="thumbnail fancybox" rel="ligthbox" href='photo/simg720.jpg'>
                                                        <img src='img/logo.png' />
                                                      </a>
                                                    </span>
                                                    <div style="background: #f16024; overflow: hidden; text-overflow: ellipsis; padding: 5px; border-radius: 50px; text-align: center; margin-bottom: 20px;">
                                                      <span style="color: #fff;">
                                                        {{TypeOfService}}
                                                      </span><br>
                                                    </div>
                                                     <div class="clearfix"></div>
                                                     <table class="table" style="font-size: 12px;">
                                                      <tr>
                                                        <th>Service Id</th>
                                                        <td>{{serviceid}}</td>
                                                      </tr>
                                                      <tr>
                                                        <th>Specification</th>
                                                        <td style="overflow: hidden;display: block;width: 162px;text-overflow: ellipsis;" title="{{Specification}}">{{Specification}}</td>
                                                      </tr>
                                                      <tr>
                                                        <th>Service Providing Area</th>
                                                        <td style="overflow: hidden;display: block;width: 162px;text-overflow: ellipsis" title="{{Area}}">{{Area}}</td>
                                                      </tr>
                                                      <tr>
                                                        <th>Timing for Provide Services</th>
                                                        <td>{{ProvideServices}}</td>
                                                      </tr>

                                                      </table>
                                                                            
                                                      <div class="clearfix"></div>
                                                    </div>
                                                  </div>
                                                </td>
                                                {{/each}}
                                              </tr>
                                            </table></marquee>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
<!-- ======================================================================== -->

            <!-- LOGIN MODAL -->
            <!-- ====================== -->

        <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Login modal</button> -->
          <!-- LOGIN MODAL -->
            <!-- ====================== -->

        <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Login modal</button> -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Login/Registration</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 mini_q" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Login1" data-toggle="tab">Login</a></li>
                            <li><a href="#Registration1" data-toggle="tab">Registration</a></li>
                        </ul>
                                <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane show active" id="Login1">
          <form role="form" class="form-horizontal" action="/user/login" method="POST">
          <div class="form-group">
              <label for="email" class="col-sm-2 control-label">
                  Email/Mobile</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="email1" name="username" placeholder="Email/Mobile" required/>
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-2 control-label">
                  Password</label>
              <div class="col-sm-10">
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required/>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary btn-sm">
                      Submit</button>
                  <a style="color: #6c757d;" href="/forgot/pass" target="_blank">Forgot your password?</a>
              </div>
          </div>
          </form>
      </div>
      <div class="tab-pane" id="Registration1">
          <form method="POST" action="/send/otp" role="form" class="form-horizontal">
          <div class="form-group">
              <div class="col-sm-10">
                  <input type="text" name="firstname" class="form-control" placeholder="First Name" required />
              </div>
              <div class="col-sm-10">
                  <input type="text" name="lastname" class="form-control" placeholder="Last Name" required />
              </div>
              <div class="col-sm-10">
                  <input type="text" name="mobile" class="form-control" placeholder="Mobile" required />
              </div>
              <div class="form-group">
              <div class="col-sm-10">
                  <input id="input" type="email" name="emailid" class="form-control" placeholder="Email" pattern="^(([-\w\d]+)(\.[-\w\d]+)*@([-\w\d]+)(\.[-\w\d]+)*(\.([a-zA-Z]{2,5}|[\d]{1,3})){1,2})$" spellcheck="false" title="your email address like merakaamkaaj@gmail.com" required/>
              </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10">
                  <input type="password" placeholder="Password" id="psw" name="password" class="form-control name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and one lowercase letter and special characters, and at least 8 or more characters" required>
                </div>
              </div>
              <div id="message">
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                <p id="spec" class="invalid">A <b>special character</b></p>
              </div>  
              <div class="col-sm-10">
                  <input type="text" name="address" class="form-control" placeholder="Address" required/>
              </div>
              <div class="form-group">
              <div class="col-sm-10">
                  <input type="text" name="state" class="form-control" placeholder="state" required/>
              </div>
          </div>
              <div class="col-sm-10">
                  <input type="text" name="city" class="form-control"  placeholder="City" required />
              </div>
              <div class="col-sm-10">
                  <input type="text" name="pincode" class="form-control" placeholder="Pin-Code" required />
              </div>
          </div>
          <div class="form-group">
              <div class="col-sm-10">
                  <select class="form-control" name="gender" required>
                    <option value="" disabled selected>Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                  </select>
              </div>
          </div>
          <div class="form-group">
              <div class="col-sm-10">
                  <select class="form-control" name="lookingfor" required>
                    <option value="" disabled selected>Select looking for</option>
                    <option value="i am looking for right job">I am looking for right job.</option>
                    <option value="i am looking for right Worker">I am looking for right worker.</option>
                    <option value="i am looking for right service provider">I am looking for right service provider</option>
                    <option value="i am service provider">I am service provider</option>
                    <option value="i am looking for post resume">I am looking for post resume</option>
                    <option value="i am looking for post job">I am looking for post job</option>
                    </option>
                  </select>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary btn-sm">
                      Save & Continue</button>
                  <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">
                      Cancel</button>
              </div>
          </div>
          </form>
      </div>
                                </div>
                                <div id="OR" class="hidden-xs">
                                    OR</div>
                            </div>
                            <div class="col-md-4">
                                <div class="row text-center sign-with">
                                    <div class="col-md-12">
                                        <h3>
                                            Sign in with</h3>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="btn-group btn-group-justified">
                                            <a href="/login" class="btn btn-danger" id="googlelogin"><i style="padding-right: 10px; font-size: 20px;" class="fa fa-google"></i> Google</a>
                                            <a href="#" class="btn btn-primary"><i style="padding-right: 10px; font-size: 20px;" class="fa fa-facebook"></i> Facebook</a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


       <!-- modal box     <div class="container"> -->
  <!-- <h2>Large Modal</h2> -->
  <!-- Trigger the modal with a button -->
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" style="padding: 2.2em 18px 2.2em 18px;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- <p class="modal-title">Modal Header</p> -->
        </div>
        <div class="modal-body" id="modal-body">
          <div class="row">
            <div class="col-md-12">
              <h2 style="color: white; background: #f16025; text-align: center; width: 80%; border-radius: 10px; box-shadow: 4px 4px 11px #00000047;">Quick Result</h2>
            </div>
          <form action="/quick/search" method="POST">
          <div class="row col-md-10">
            <div class="col-md-6">
              <input class="form-control" name="Visitorname" type="text" placeholder="Full name" required>
              <input class="form-control" name="visitorcontect" type="number" placeholder="Contact Number" required>
            </div>
            <div class="col-md-6">
              <input class="form-control" style="display: none;" name="" type="number" placeholder="Ex:abc@example.com">
              
              <!-- <div class="form-group"> -->
                                            <!-- <div class="col-sm-10"> -->
                <select name="visitorlookingfor" class="form-control" required>
                  <option value="rightjob">I am looking for right job.</option>
                  <option value="rightworker">I am looking for right worker.</option>
                  <option value="rigthservice">I am looking for right service provider</option>
                </select>
                                            <!-- </div> -->
                                        <!-- </div> -->
            </div>
            <div class="row" style="width: 100%;">
                <div class="col-md-12">
                    <button style="padding: 10px; background: #f16024; box-shadow: 4px 4px 11px #00000047; color: #fff; font-size: 12px; width: 100%; margin: auto;" type="submit" class="btn btn-default">Search Quick Result</button>
                </div>
            </div>
          </div>
        </form>
        </div>
          

        </div>
        <div class="modal-footer" style=" background: #f16025;">
          <div class="col-md-10">All Right Reserved©2017 Merakaamkaaj.com | Design &amp; Maintinance by: <a href="http://navgurukul.org/" target="_blank">Aslam Desusa</a> </div>
        </div>
      </div>
    </div>
  </div>
    <style type="text/css">
    .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 10px;
}
      .selectpicker{
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            margin-bottom: 5px;
            font-size: 16px;
            line-height: 1.42857143;
            color: #fff;
            background-color: #f16024 !important;
            background-image: none;
            border: 1px solid #ccc;

      }
      #body-content{
        background-color: #f16024;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      #border {
            border-radius: 100px;
            padding: 10px;
            margin-top: 10px;
            outline: none;
            box-shadow: 2px 2px 1px #00000063;
        }
      #container {
        position: relative;
        width: 30% !important;
        background-color: white;
        /*margin: 1%;*/

        }
        #modal-body{
          background: url("https://wallpaperbrowse.com/media/images/soap-bubble-1958650_960_720.jpg");
        }

.output {
    font: 1rem 'Fira Sans', sans-serif;
}


/* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 1px 40px;
    font-size: 16px;
    line-height: 1rem;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}



    </style>
    <script>
var myInput = document.getElementById("psw");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");
var spec = document.getElementById("spec");

// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
    document.getElementById("message").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
    document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {  
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }
  
  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {  
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {  
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }
  
  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
  // validate special character
  var specel = /[#?!@$%^&*-]/g;
  if(myInput.value.match(specel)) {  
    spec.classList.remove("invalid");
    spec.classList.add("valid");
  } else {
    spec.classList.remove("valid");
    spec.classList.add("invalid");
  }
}
</script>

<script type="text/javascript">
  // var url = '/oauthcallback'
  // window.onmessage = function(url, e) { 
  //     alert(e)
  //     console.log(e)
  //  };
 
</script>
