
<!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
<style>
label {
        display: block;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    
    label .label-text {
        color: #555;
        cursor: text;
        font-size: 15px;
        line-height: 20px;
        transform: translateY(-30px);
        transition: all 0.3s;
    }
    
    label .label-text1 {
        color: #555;
        cursor: text;
        font-size: 15px;
        line-height: 20px;
        transform: translateY(-35px);
        transition: all 0.3s;
    }
    
    label input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #4a4a4a1f;
        color: #555;
        font-size: 15px;
        outline: 0;
        padding: 5px 0px;
        transition: all 0.3s;
        width: 100%;
    }
    
    label input:focus {
        max-width: 100%;
        border-bottom: 2px solid #f16024;
    }
    
    label input:focus + .label-text {
        color: #f16024;
        font-size: 15px;
        transform: translateY(-50px);
    }
    
    label input:valid + .label-text {
        font-size: 13px;
        transform: translateY(-50px);
    }
    
    label textarea {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #4a4a4a1f;
        color: #555;
        font-size: 15px;
        outline: 0;
        padding: 5px 0px;
        transition: all 0.3s;
        width: 100%;
    }
    
    .dropdown-primary {
        position: relative;
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ced4da;
        outline: 0;
        height: 2.9rem;
        line-height: 2.9rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 0 .94rem 0;
        padding: 0;
        display: block;
    }
    
    #require {
        color: #f16024;
        font-size: 22px;
    }
    
    a.btn.btn-default.btn-rounded.mb-4 {
        border-radius: 50px;
        color: white;
    }
    
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
button {
  background-color: #f16025;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

</style>

<form id="regForm" action="/new-form-submition" method="POST">
  <h3 style="color: #f16025">Login With Merakaamkaaj Account:</h3>
  <!-- One "tab" for each step in the form: -->
  <div class="tab">Login:
    <div class="form-rows">
                <div class="form-col">
                    <div class="form-holder">
                        <label>
                            <input type="text" name="emailid" required />
                            <div class="label-text">Email/Phone<span class="require">*</span></div>
                        </label>
                    </div>
                </div>
                <div class="form-col">
                    <div class="form-holder">
                        <label>
                            <input type="password" name="password" required />
                            <div class="label-text">Password<span class="require">*</span></div>
                        </label>
                    </div>
                </div>
            </div>
  </div>
  <div style="overflow:auto;">
    <div style="float:left;">
      <a href="/">Ragister with new account<a>
      <a style="color: #6c757d;" href="/forgot/pass" target="_blank">Forgot your password?</a>
    </div>
    <div style="float:right;">
      <button type="submit" id="nextBtn">Login</button>
    </div>
  </div>
</form>



