<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<style type="text/css">
    label {
        display: block;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    
    label .label-text {
        color: #555;
        cursor: text;
        font-size: 15px;
        line-height: 20px;
        transform: translateY(-30px);
        transition: all 0.3s;
    }
    
    label .label-text1 {
        color: #555;
        cursor: text;
        font-size: 15px;
        line-height: 20px;
        transform: translateY(-35px);
        transition: all 0.3s;
    }
    
    label input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #4a4a4a1f;
        color: #555;
        font-size: 15px;
        outline: 0;
        padding: 5px 0px;
        transition: all 0.3s;
        width: 100%;
    }
    
    label input:focus {
        max-width: 100%;
        border-bottom: 2px solid #f16024;
    }
    
    label input:focus + .label-text {
        color: #f16024;
        font-size: 15px;
        transform: translateY(-50px);
    }
    
    label input:valid + .label-text {
        font-size: 13px;
        transform: translateY(-50px);
    }
    
    label textarea {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #4a4a4a1f;
        color: #555;
        font-size: 15px;
        outline: 0;
        padding: 5px 0px;
        transition: all 0.3s;
        width: 100%;
    }
    
    .dropdown-primary {
        position: relative;
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ced4da;
        outline: 0;
        height: 2.9rem;
        line-height: 2.9rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 0 .94rem 0;
        padding: 0;
        display: block;
    }
    
    #require {
        color: #f16024;
        font-size: 22px;
    }
    
    a.btn.btn-default.btn-rounded.mb-4 {
        border-radius: 50px;
        color: white;
    }
    
    .JobsActive {
        background-color: #d64408 !important;
        border-radius: 5px !important;
        color: yellow !important;
    }
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  font-family: Raleway;
  padding: 40px;
  width: 50%;
  min-width: 300px;
  margin-bottom: 40px;
}
@media (max-width: 575.98px) {
  #regForm {
        background-color: #ffffff;
    /* margin: -88px auto; */
    font-family: Raleway;
    padding: 20px;
    width: 100%;
    min-width: 300px; }}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}
select.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
</style>

<header id="conent" class="header-cat header-cat-4">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      
    </div>
  </div>
</div>
</header>

<!-- BODY CONTENT -->
<div id="section_16" style=" display: flex;justify-content: center;"> 
<form id="regForm" action="" method="" class="PostJobs" enctype="multipart/form-data">
  <!-- One "tab" for each step in the form: -->
  <img src="/img/visa_PNG2.png">
  <div class="tab"><h1 id="workinprog">Payment To Mera Kaam Kaaj</h1>
  <h5>Payment Amount: 100 INR</h5>
    <div class="row">
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input class="invalidDisplay" placeholder="NAME ON CARD" type="text" maxlength="21" name="car-name" required />
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input class="invalidDisplay" placeholder="XXXX-XXXX-XXXX-XXXX" type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==16) return false;" name="Card_Number" required />
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input class="invalidDisplay" placeholder="EXP/MONTH /MM" type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;" name="exp/month" required />
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input class="invalidDisplay" placeholder="EXP/YEAR /YYYY" type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" name="exp/year" required />
                </label>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input class="invalidDisplay" placeholder="CVV NUMBER" type="password" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==3) return false;" name="cvv_nuber" required />
                </label>
            </div>
        </div>
    </div>
</div>

  <div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" style="color: white;" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
</form>
</div>

<script type="text/javascript">
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the crurrent tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Make Payment";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    alert('Form Submit Successfully')
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var l, x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByClassName("invalidDisplay");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  l = document.getElementById("workinprog").innerText
  if (l == "Payment To Mera Kaam Kaaj") {
    alert("You Don't need to pay any Amount. We are working on it Payment Getway will start soon, if you want to post your Service here Please Contect With Merakaamkaaj suport Team")
    valid = false;
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += "active";
}
</script> 
