<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<style type="text/css">
    label {
        display: block;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    
    label .label-text {
        color: #555;
        cursor: text;
        font-size: 15px;
        line-height: 20px;
        transform: translateY(-30px);
        transition: all 0.3s;
    }
    
    label .label-text1 {
        color: #555;
        cursor: text;
        font-size: 15px;
        line-height: 20px;
        transform: translateY(-35px);
        transition: all 0.3s;
    }
    
    label input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #4a4a4a1f;
        color: #555;
        font-size: 15px;
        outline: 0;
        padding: 5px 0px;
        transition: all 0.3s;
        width: 100%;
    }
    
    label input:focus {
        max-width: 100%;
        border-bottom: 2px solid #f16024;
    }
    
    label input:focus + .label-text {
        color: #f16024;
        font-size: 15px;
        transform: translateY(-50px);
    }
    
    label input:valid + .label-text {
        font-size: 13px;
        transform: translateY(-50px);
    }
    
    label textarea {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #4a4a4a1f;
        color: #555;
        font-size: 15px;
        outline: 0;
        padding: 5px 0px;
        transition: all 0.3s;
        width: 100%;
    }
    
    .dropdown-primary {
        position: relative;
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ced4da;
        outline: 0;
        height: 2.9rem;
        line-height: 2.9rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 0 .94rem 0;
        padding: 0;
        display: block;
    }
    
    #require {
        color: #f16024;
        font-size: 22px;
    }
    
    a.btn.btn-default.btn-rounded.mb-4 {
        border-radius: 50px;
        color: white;
    }
    
    .JobsActive {
        background-color: #d64408 !important;
        border-radius: 5px !important;
        color: yellow !important;
    }
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  font-family: Raleway;
  padding: 40px;
  width: 100%;
  min-width: 300px;
  margin-bottom: 40px;
}
@media (max-width: 575.98px) {
  #regForm {
        background-color: #ffffff;
    /* margin: -88px auto; */
    font-family: Raleway;
    padding: 20px;
    width: 100%;
    min-width: 300px; }}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}
select.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
</style>
        <!-- HEADER 
            =================-->
<header id="conent" class="header-cat header-cat-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Post Service</h1>
      </div>
    </div>
  </div>
</header>
 
<form id="regForm" action="/post/service-by-admin" method="POST" enctype="multipart/form-data">
  <!-- One "tab" for each step in the form: -->
  <div class="tab"><h1>Provide Service Details:</h1>
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <div class="form-holder">
                <select name="verifi" class="mdb-select colorful-select dropdown-primary invalidDisplay">
                    <option value="" disabled selected>Active/Un-Active<span class="require">*</span></option>
                    <option value="Active">Active</option>
                    <option value="In Active">Un Active</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input class="invalidDisplay" title="User SignIn Details" type="text" name="userobjectid" required />
                    <div class="label-text" >User Sign in Address Email/Phone<span class="require">*</span></div>
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <p class="alreadyexist" id="alreadyexist" style="font-size: 11px; margin-left: 11%; color: red;"></p>
                    <p class="successnotexi" id="demo" style="font-size: 11px; margin-left:11%; color: green;"></p>
                    <input class="invalidDisplay" id="PSID" type="text" name="serviceid" required />
                    <div class="label-text">PSID<span class="require">*</span></div>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <select name="TypeOfService" class="mdb-select colorful-select dropdown-primary invalidDisplay">
                          <option value="" disabled selected>Select Service<span id="require">*</span></option>
                          {{#each serviceModal}}
                          <option value="{{Service}}">{{Service}}</option>
                          {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                          <input type="text" name="Specification">
                          <div class="label-text">Service Specification</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <select name="ProvideServices" class="mdb-select colorful-select dropdown-primary invalidDisplay">
                          <option value="" disabled selected>Timing for Provide Services<span id="require">*</span></option>
                          <option value="Full Time Day">Full Time Day</option>
                          <option value="Full Time Night">Full Time Night</option>
                          <option value="Part Time Evening">Part Time Evening</option>
                          <option value="PArt Time Morning">PArt Time Morning</option>
                          <option value="Daily Based">Daily Based</option>
                          <option value="On Requirment">On Requirment</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                          <input type="text" name="ProviderRegistered"/>
                          <div class="label-text">Services Provider Registered on</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                          <input type="date" name="RegisteredExpiry"/>
                          <div class="label-text">Services Registered Expiry Date</div>
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <select name="Country" class="mdb-select colorful-select dropdown-primary">
                          <option value="" disabled selected>Service Providing Country</option>
                          <option value="INDIA">INDIA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <select name="State" class="mdb-select colorful-select dropdown-primary">
                          <option value="" disabled selected>Service Providing State</option>
                          <option value="Delhi">Delhi</option>
                          <option value="NCR">NCR</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="text" name="City"/>
                            <div class="label-text">Service Providing City</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="text" name="Area"/>
                            <div class="label-text">Services Providing Area</div>
                        </label>
                    </div>
                </div>
            </div>
  </div>
  <div class="tab"><h1>Service Provider Details:</h1>
    <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input class="invalidDisplay" type="text" name="Agency" required />
                            <div class="label-text">Services Provider Agency Name<span id="require">*</span></div>
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="text" class="invalidDisplay" name="Representative" required />
                            <div class="label-text">Name of Representative/Service Provider<span id="require">*</span></div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="number" class="invalidDisplay" name="MobileNumber" required />
                            <div class="label-text">Mobile Number<span id="require">*</span></div>
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="number" name="LandNumber"/>
                            <div class="label-text">Landline Number</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <select name="Timing" class="mdb-select colorful-select dropdown-primary">
                          <option value="" disabled selected>Contect Timing</option>
                          <option value="6 am to 12 pm">6 am to 12 pm</option>
                          <option value="12 pm to 6 pm">12 pm to 6 pm</option>
                          <option value="6 pm to 10 pm">6 pm to 10 pm</option>
                          <option value="6 am to 10 pm">6 am to 10 pm</option>
                          <option value="24 Hour">24 Hour</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder password">
                        <label>
                            <input type="text" class="invalidDisplay" name="aadharcard" required />
                            <div class="label-text">Aadhar / Voter / Other Govt Card No<span id="require">*</span></div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="text" name="website"/>
                            <div class="label-text">Website</div>
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="text" class="invalidDisplay" name="emailMobile"/>
                            <div class="label-text">Email/Mobile</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="text" class="invalidDisplay" name="address" required />
                            <div class="label-text">Address Of Services Provider<span id="require">*</span></div>
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="text" name="pincode"/>
                            <div class="label-text">Pincode</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="text" name="information"/>
                            <div class="label-text">Any Information About Your Services</div>
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <select name="payment" class="mdb-select colorful-select dropdown-primary">
                          <option value="" disabled selected>Choose Payment Plan</option>
                          <option value="Three Hundred Rs. For 6 Month">Three Hundred Rs. For 6 Month</option>
                          <option value="Five Hundred Rs.For 12 Month">Five Hundred Rs.For 12 Month</option>
                          <option value="Seven Hundred Rs.For 18 Month">Seven Hundred Rs.For 18 Month</option>
                          <option value="More Than Upto 18 Months">More Than Upto 18 Months</option>
                          <option value="24 Hour">24 Hour</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-holder">
                        <label>
                            <input class="invalidDisplay" title="Put any image which will display on your Service" type="file" name="file" />
                            <div style="margin-left: 11%; margin-top: 3rem;" class="label-text">Image</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-holder">
                        <label>
                            <input class="invalidDisplay checks" style="position: absolute;margin: auto;top: 19px;left: -40%;" type="checkbox" name="termsandcondition" checked/>
                            <div style="margin-left: 11%; margin-top: 3rem;" class="label-text checks">Terms And Condition</div>
                        </label>
                    </div>
                </div>
            </div>
  </div>
  <div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <!-- <span class="step"></span> -->
    <!-- <span class="step"></span> -->
  </div>
</form>


<script type="text/javascript">
   $(document).ready(function(){
        $('.checks').click(function(){
           if(!this.form.termsandcondition.checked)
            {
                alert('You must agree to the terms first.');
                return false;
            }
        });
    });

</script>


<script type="text/javascript">
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the crurrent tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var l, x, y, z, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByClassName("invalidDisplay");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // if id already exist
  l = document.getElementById("alreadyexist").innerText
  if (l == "serviceid id already exists") {
    alert('serviceid id already exists')
    valid = false;
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>   


<script type="text/javascript">
    $('#PSID').on('keyup', function() {
     if (this.value.length > 1) {
        var contectInformation = {}
        var id = $('input#PSID').val();
        contectInformation.serviceid = id
        $.ajax({
            url : "/checking/service-id",
            type : "POST",
            data: contectInformation,
            success: function(json){
                if (json == 'eligible') {
                    $('.alreadyexist').empty(); 
                    $('.successnotexi').empty(); 
                    $('.successnotexi').append(json);
                }else if (json == 'serviceid id already exists') {
                    $('.successnotexi').empty();
                    $('.alreadyexist').empty(); 
                    $('.alreadyexist').append(json);
                }
            },
            error: function(err){
                alert(err)
            }
        });
          // do search for this.value here
     }
});
</script>
