<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<style type="text/css">
    label {
        display: block;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    
    label .label-text {
        color: #555;
        cursor: text;
        font-size: 15px;
        line-height: 20px;
        transform: translateY(-30px);
        transition: all 0.3s;
    }
    
    label .label-text1 {
        color: #555;
        cursor: text;
        font-size: 15px;
        line-height: 20px;
        transform: translateY(-35px);
        transition: all 0.3s;
    }
    
    label input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #4a4a4a1f;
        color: #555;
        font-size: 15px;
        outline: 0;
        padding: 5px 0px;
        transition: all 0.3s;
        width: 100%;
    }
    
    label input:focus {
        max-width: 100%;
        border-bottom: 2px solid #f16024;
    }
    
    label input:focus + .label-text {
        color: #f16024;
        font-size: 15px;
        transform: translateY(-50px);
    }
    
    label input:valid + .label-text {
        font-size: 13px;
        transform: translateY(-50px);
    }
    
    label textarea {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #4a4a4a1f;
        color: #555;
        font-size: 15px;
        outline: 0;
        padding: 5px 0px;
        transition: all 0.3s;
        width: 100%;
    }
    
    .dropdown-primary {
        position: relative;
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ced4da;
        outline: 0;
        height: 2.9rem;
        line-height: 2.9rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 0 .94rem 0;
        padding: 0;
        display: block;
    }
    
    #require {
        color: #f16024;
        font-size: 22px;
    }
    
    a.btn.btn-default.btn-rounded.mb-4 {
        border-radius: 50px;
        color: white;
    }
    
    .PostResumeActive {
        background-color: #d64408 !important;
        border-radius: 5px !important;
        color: yellow !important;
    }
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: -100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  margin-bottom: 40px;
}
@media (max-width: 575.98px) {
  #regForm {
        background-color: #ffffff;
    /* margin: -88px auto; */
    font-family: Raleway;
    padding: 20px;
    width: 95%;
    min-width: 300px; }}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}
select.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
</style>

        <!-- HEADER 
            =================-->
<header id="conent" class="header-cat header-cat-5">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Post Resume</h1>
    </div>
  </div>
</div>
</header>

              <!-- BODY CONTENT -->
         <!-- =================== -->
<form id="regForm" action="/post/resume/un-auth" method="POST">
  <!-- One "tab" for each step in the form: -->
  <div class="tab"><h1>Contact Information:</h1>
    <div class="row">
        <div class="col-sm">
            <div class="form-holder">
              <select name="JobCat" class="mdb-select colorful-select dropdown-primary invalidDisplay" required>
                <option value="" disabled selected>Job Category<span class="require">*</span></option>
                {{#each cat}}
                <option value="{{JobCategory}}">{{JobCategory}}</option>
                {{/each}}
              </select>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input class="invalidDisplay" type="text" name="Name" required/>
                    <div class="label-text">Name<span id="require">*</span></div>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input class="invalidDisplay" type="number" name="Mobile" required/>
                    <div class="label-text">Mobile<span id="require">*</span></div>
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input type="number" name="AlternateNum"/>
                    <div class="label-text">Alternate Number</div>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input type="email" name="EmailorMobile"/>
                    <div class="label-text">Email id/Mobile</div>
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input class="invalidDisplay" type="text" name="AdharNo" required/>
                    <div class="label-text">Aadhar /Voter Card No<span id="require">*</span></div>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-holder">
              <select name="Country" class="mdb-select colorful-select dropdown-primary">
                <option value="" disabled selected>Select Countery</option>
                <option value="INDIA">INDIA</option>
              </select>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-holder">
              <select name="State" class="mdb-select colorful-select dropdown-primary">
                <option value="" disabled selected>Select State</option>
                <option value="Delhi">Delhi</option>
                <option value="NCR">NCR</option>
              </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input type="text" class="invalidDisplay" name="City" required/>
                    <div class="label-text">City<span id="require">*</span></div>
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input type="number" class="invalidDisplay" name="Pincode" />
                    <div class="label-text">Pincode</div>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input type="text" class="invalidDisplay" name="Address" />
                    <div class="label-text">Address</div>
                </label>
            </div>
        </div>
    </div>
  </div>


  <div class="tab"><h1>About My Self:</h1>
    <div class="row">
        <div class="col-sm">
            <div class="form-holder">
              <select name="Gender" class="mdb-select colorful-select dropdown-primary invalidDisplay" required>
                <option value="" disabled selected>Select Gender*</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-holder">
                <select name="Religin" class="mdb-select colorful-select dropdown-primary">
                  <option value="" disabled selected>Select Religion</option>
                  <option value="Hindu">Hindu</option>
                  <option value="Muslim">Muslim</option>
                  <option value="Sikh">Sikh</option>
                  <option value="Isai">Isai</option>
                  <option value="Other">Other</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-holder">
              <label>
                  <input type="date" class="invalidDisplay" name="DOB" required/>
                  <div class="label-text">DOB<span id="require">*</span></div>
              </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-holder">
              <label>
                  <input type="text" name="knownLanguage" />
                  <div class="label-text">Language Known</div>
              </label>
            </div>
        </div>
    </div>
  </div>
  <div class="tab"><h1>Education Details:</h1>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <input type="text" name="Class" />
                      <div class="label-text">Class</div>
                  </label>
              </div>
          </div>
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <input type="text" name="Degree" />
                      <div class="label-text">Degree</div>
                  </label>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <input type="text" name="PG" />
                      <div class="label-text">P.G.</div>
                  </label>
              </div>
          </div>
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <input type="text" name="Diploma" />
                      <div class="label-text">Diploma</div>
                  </label>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <input type="text" name="Course" />
                      <div class="label-text">Course</div>
                  </label>
              </div>
          </div>
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <textarea placeholder="Career Objective" name="CareerObjective" ></textarea>
                  </label>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <textarea placeholder="Other Details" name="OtherDetails" ></textarea>
                  </label>
              </div>
          </div>
      </div>
  </div>
  <div class="tab"><h1>Reference Contact:</h1>
    <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <input type="text" name="ReferenceName" />
                      <div class="label-text">Reference Name</div>
                  </label>
              </div>
          </div>
          <div class="col-sm">
              <div class="form-holder">
                <label>
                  <input type="text" name="ReferenceMobile" />
                  <div class="label-text">Reference Mobile</div>
                </label>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                <select name="LookingOverseas" class="mdb-select colorful-select dropdown-primary invalidDisplay" required>
                  <option value="" disabled selected>Looking Overseas ?<span id="require">*</span></option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
          </div>
      </div>
      
  </div>
  <div class="tab"><h1>current Work Details: (Optional)</h1>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <input type="text" name="NameofImpoloyer" />
                      <div class="label-text">Name of Current Employer</div>
                  </label>
              </div>
          </div>
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <input type="text" name="PositionDesignation" />
                      <div class="label-text">Position / Designation</div>
                  </label>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                <select name="MainJobCategory" class="mdb-select colorful-select dropdown-primary">
                  <option value="" disabled selected>Job Category<span class="require">*</span></option>
                  {{#each cat}}
                  <option value="{{JobCategory}}">{{JobCategory}}</option>
                  {{/each}}
                </select>
                </select>
              </div>
          </div>
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <textarea placeholder="Skills" name="Skills" ></textarea>
                      <!-- <div class="label-text1">Skills</div> -->
                  </label>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <input type="number" name="Experience" />
                      <div class="label-text">Experience</div>
                  </label>
              </div>
          </div>
          <div class="col-sm">
              <div class="form-holder password">
                  <label>
                      <input type="number" name="currentSalary" />
                      <div class="label-text">Current Salary (INR/Month)</div>
                  </label>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <input type="number" name="ExpSalary" />
                      <div class="label-text">Expected Salary (INR/Month)</div>
                  </label>
              </div>
          </div>
          <div class="col-sm">
              <div class="form-holder">
                  <select name="PriferredShift" class="mdb-select colorful-select dropdown-primary">
                    <option value="" disabled selected>Select Shift</option>
                    <option value="Full Time Night">Full Time Day</option>
                    <option value="Full Time Night">Full Time Night</option>
                    <option value="Part Time Evening">Part Time Evening</option>
                    <option value="Part Time Morning">Part Time Morning</option>
                    <option value="Daily Based">Daily Based</option>
                    <option value="On Requirment">On Requirment</option>
                  </select>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <textarea placeholder="Preferred Job Description" name="PriferredJobDescription" ></textarea>
                      <!-- <div class="label-text1">Preferred Job Description</div> -->
                  </label>
              </div>
          </div>
          <div class="col-sm">
            <div class="form-holder">
              <label>
                <textarea placeholder="Preferred Job Description" name="PriferredJobDescription" ></textarea>
              </label>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <textarea placeholder="Preferred Location" name="PriferredLocation" ></textarea>
                  </label>
              </div>
          </div>
      </div>
  </div>
  <div class="tab"><h1>past work Details: (Optional)</h1>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                <label>
                    <input type="text" name="NameofImpoloyer1" />
                    <div class="label-text">Name of Employer</div>
                </label>
              </div>
          </div>
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <input type="text" name="PositionDesignation1" />
                      <div class="label-text">Position / Designation</div>
                  </label>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                <select name="JobCategory1" class="mdb-select colorful-select dropdown-primary">
                  <option value="" disabled selected>Job Category<span class="require">*</span></option>
                  {{#each cat}}
                  <option value="{{JobCategory}}">{{JobCategory}}</option>
                  {{/each}}
                </select>
              </div>
          </div>
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                      <input type="text" name="State1City1" />
                      <div class="label-text">State / City</div>
                  </label>
              </div>
          </div>
    </div>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                <label>
                    <input type="number" name="Experience1" />
                    <div class="label-text">Experience</div>
                </label>
              </div>
          </div>
          <div class="col-sm">
              <div class="form-holder password">
                    <select name="shift1" class="mdb-select colorful-select dropdown-primary">
                      <option value="" disabled selected>Select Shift</option>
                      <option value="Full Time Night">Full Time Day</option>
                      <option value="Full Time Night">Full Time Night</option>
                      <option value="Part Time Evening">Part Time Evening</option>
                      <option value="Part Time Morning">Part Time Morning</option>
                      <option value="Daily Based">Daily Based</option>
                      <option value="On Requirment">On Requirment</option>
                    </select>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
              <div class="form-holder">
                  <label>
                        <textarea placeholder="Job Description" name="jobDescription1" ></textarea>
                        <!-- <div class="label-text1">Job Description</div> -->
                    </label>
              </div>
          </div>
          <div class="col-sm">
              <div class="form-holder">
                  <label id="dcPassport9">
                      <input type="number" name="SalaryWithdrawn" />
                      <div class="label-text">Salary Withdrawn (INR/Month)</div>
                  </label>
              </div>
          </div>
      </div>
      <div class="row">
                <div class="col-md-6">
                    <div class="form-holder">
                        <label>
                            <input class="invalidDisplay checks" style="position: absolute;margin: auto;top: 19px;left: -40%;" type="checkbox" name="termsandcondition" checked/>
                            <div style="margin-left: 11%; margin-top: 3rem;" class="label-text">Terms And Condition</div>
                        </label>
                    </div>
                </div>
            </div>
  </div>
  <div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
</form>


<script type="text/javascript">
   $(document).ready(function(){
        $('.checks').click(function(){
           if(!this.form.termsandcondition.checked)
            {
                alert('You must agree to the terms first.');
                return false;
            }
        });
    });

</script>


<script type="text/javascript">
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the crurrent tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByClassName("invalidDisplay");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>   

