<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<style type="text/css">
    label {
        display: block;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    
    label .label-text {
        color: #555;
        cursor: text;
        font-size: 15px;
        line-height: 20px;
        transform: translateY(-30px);
        transition: all 0.3s;
    }
    
    label .label-text1 {
        color: #555;
        cursor: text;
        font-size: 15px;
        line-height: 20px;
        transform: translateY(-35px);
        transition: all 0.3s;
    }
    
    label input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #4a4a4a1f;
        color: #555;
        font-size: 15px;
        outline: 0;
        padding: 5px 0px;
        transition: all 0.3s;
        width: 100%;
    }
    
    label input:focus {
        max-width: 100%;
        border-bottom: 2px solid #f16024;
    }
    
    label input:focus + .label-text {
        color: #f16024;
        font-size: 15px;
        transform: translateY(-50px);
    }
    
    label input:valid + .label-text {
        font-size: 13px;
        transform: translateY(-50px);
    }
    
    label textarea {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #4a4a4a1f;
        color: #555;
        font-size: 15px;
        outline: 0;
        padding: 5px 0px;
        transition: all 0.3s;
        width: 100%;
    }
    
    .dropdown-primary {
        position: relative;
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ced4da;
        outline: 0;
        height: 2.9rem;
        line-height: 2.9rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 0 .94rem 0;
        padding: 0;
        display: block;
    }
    
    #require {
        color: #f16024;
        font-size: 22px;
    }
    
    a.btn.btn-default.btn-rounded.mb-4 {
        border-radius: 50px;
        color: white;
    }
    
    .JobsActive {
        background-color: #d64408 !important;
        border-radius: 5px !important;
        color: yellow !important;
    }
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: -100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  margin-bottom: 40px;
}
@media (max-width: 575.98px) {
  #regForm {
        background-color: #ffffff;
    /* margin: -88px auto; */
    font-family: Raleway;
    padding: 20px;
    width: 95%;
    min-width: 300px; }}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}
select.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
</style>

<!-- HEADER 
            =================-->
<header id="conent" class="header-cat header-cat-4">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="testi-head">Post Jobs</h1>
    </div>
  </div>
</div>
</header>

<!-- BODY CONTENT -->
 
<form id="regForm" action="/post/job" method="POST">
  <!-- One "tab" for each step in the form: -->
  <div class="tab"><h1>Job Details:</h1>
    <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <select name="jobType" class="mdb-select colorful-select dropdown-primary invalidDisplay">
                            <option value="" disabled selected>Select Job Type<span class="require">*</span></option>
                            {{#each JobCategory}}
                            <option value="{{JobCategory}}">{{JobCategory}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input class="invalidDisplay" type="text" name="skills" required />
                            <div class="label-text">Required Specialsation/Slills<span class="require">*</span></div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="text" name="jobAddress" />
                            <div class="label-text">Job Address</div>
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input class="invalidDisplay" type="text" name="aVacancy" required />
                            <div class="label-text">Available Vacancy<span class="require">*</span></div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input class="invalidDisplay" type="date" name="expiryDate" required />
                            <div class="label-text">Job Expiry Date<span class="require">*</span></div>
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <select name="country" class="mdb-select colorful-select dropdown-primary invalidDisplay" required>
                            <option value="" disabled selected>Country<span class="require">*</span></option>
                            <option value="INDIA">INDIA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <select name="state" class="mdb-select colorful-select dropdown-primary invalidDisplay" required>
                            <option value="" disabled selected>State<span class="require">*</span></option>
                            <option value="Delhi">Delhi</option>
                            <option value="NCR">NCR</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input class="invalidDisplay" type="text" name="city" required />
                            <div class="label-text">City<span class="require">*</span></div>
                        </label>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input class="invalidDisplay" type="text" name="jobArea" required />
                            <div class="label-text">Job Area<span class="require">*</span></div>
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="number" name="pinCode" />
                            <div class="label-text">Pin Code</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <textarea name="jobDescription"></textarea>
                             <div class="label-text1">Job Descrition if Any</div>
                        </label>
                    </div>
                </div>
            </div>
  </div>
  <div class="tab"><h1>Professional Details:</h1>
    <div class="row">
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input type="number" name="salary" />
                    <div class="label-text">Offered Salary (Monthly) INR</div>
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-holder">
                <label>
                    <input class="invalidDisplay" type="number" name="experience" required />
                    <div class="label-text">Required Experience (Yearly)<span class="require">*</span></div>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <select name="shift" class="mdb-select colorful-select dropdown-primary invalidDisplay" required>
                            <option value="" disabled selected>Select Shift</option>
                            <option value="Full Time Day">Full Time Day</option>
                            <option value="Full Time Night">Full Time Night</option>
                            <option value="Part Time Evening">Part Time Evening</option>
                            <option value="PArt Time Morning">PArt Time Morning</option>
                            <option value="Daily Based">Daily Based</option>
                            <option value="On Requirment">On Requirment</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <select name="gender" class="mdb-select colorful-select dropdown-primary invalidDisplay" required>
                            <option value="" disabled selected>Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <textarea placeholder="Educations" name="educations"></textarea>
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder password">
                        <label>
                            <textarea placeholder="Known Language" name="knownLanguage"></textarea>
                        </label>
                    </div>
                </div>
            </div>
  </div>
  <div class="tab"><h1>Employer Contact Details:</h1>
    <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input class="invalidDisplay" type="text" name="companyName" required />
                            <div class="label-text">Name of Company/Business/Other<span class="require">*</span></div>
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input class="invalidDisplay" type="text" name="nameOfRepresentative" required />
                            <div class="label-text">Name of Representative<span class="require">*</span></div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input class="invalidDisplay" type="number" name="mobile" required />
                            <div class="label-text">Mobile<span class="require">*</span></div>
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="number" name="landline" />
                            <div class="label-text">Landline No</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="Email" name="email" />
                            <div class="label-text">Email</div>
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder password">
                        <label>
                            <input class="invalidDisplay" type="text" name="idCardNumber" required />
                            <div class="label-text">Aadhar/Voter Card No<span class="require">*</span></div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <label>
                            <input type="text" name="addressOfEmployer" />
                            <div class="label-text">Address of Employer</div>
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <select name="contactTiming" class="mdb-select colorful-select dropdown-primary">
                            <option value="" disabled selected>Contect Timing</option>
                            <option value="6 am to 12 pm">6 am to 12 pm</option>
                            <option value="12 pm to 6 pm">12 pm to 6 pm</option>
                            <option value="6 pm to 10 pm">6 pm to 10 pm</option>
                            <option value="6 am to 10 pm">6 am to 10 pm</option>
                            <option value="24 Hour">24 Hour</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-holder">
                        <select name="lookingOverseas" class="mdb-select colorful-select dropdown-primary">
                            <option value="" disabled selected>Looking Overseeas</option>
                            <option value="Male">Yes</option>
                            <option value="Female">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-holder">
                        <select name="paymentPlan" class="mdb-select colorful-select dropdown-primary">
                            <option value="" disabled selected>Payment</option>
                            <option value="none">Select Plan</option>
                            <option value="On Post 1 To 5 Jobs FREE">On Post 1 To 5 Jobs FREE</option>
                            <option value="On Post 6 to 10 Jobs 500 Rs.">On Post 6 to 10 Jobs 500 Rs.</option>
                            <option value="On Post 10 to 15 Jobs 800 Rs.">On Post 10 to 15 Jobs 800 Rs.</option>
                            <option value="On Post More Than 15 Jobs">On Post More Than 15 Jobs</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-holder">
                        <label>
                            <input class="invalidDisplay checks" style="position: absolute;margin: auto;top: 19px;left: -40%;" type="checkbox" name="termsandcondition" checked/>
                            <div style="margin-left: 11%; margin-top: 3rem;" class="label-text">Terms And Condition</div>
                        </label>
                    </div>
                </div>
            </div>
  </div>
  <div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <!-- <span class="step"></span> -->
  </div>
</form>


<script type="text/javascript">
   $(document).ready(function(){
        $('.checks').click(function(){
           if(!this.form.termsandcondition.checked)
            {
                alert('You must agree to the terms first.');
                return false;
            }
        });
    });

</script>


<script type="text/javascript">
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the crurrent tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByClassName("invalidDisplay");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>   
