<div class="container privacys" style="margin-top: 4em;">
        <h3>POLICY OF COMPANY</h3>
        <p>
            <img src="img/wayofwork.jpg" class="img-responsive" style="float: right">

            MERAKAAMKAAJ.COM welcomes you to work &amp; join under the flag of JEVANT SERVICESE PVT.LTD. This company provides services for information of manpower’s to deployed according to their requirements in  various Industries and organizations including providing security services, Labour contractors, Industrial, Commercial, Housing and societies. MeraKaamKaaj.Com provides Manpower services through website (collectively the "Services") and the mobile applications. This Website/App is owned and operated by the team of Jevant Services Private Limited; this company is incorporated under the Indian Companies Act, 1956.
            <br>
            <br>
            Our Privacy Policy is formulated as part of the MeraKaamKaaj.Com’s (under Jevant Services Pvt. Ltd.) <a href="/termsandconditoin">Terms &amp; Conditions</a> of use. Please read our Privacy Policy and Terms &amp; Conditions of use carefully before using our Services. By using MeraKaamKaaj.Com Services, you agree to the provisions of this Privacy Policy. If you do not want to be bound by our Privacy Policy, please do not use our Services. Always remember 
            </p><h4 class="text-center" style="line-height: 32px;"><u>“...ANY PARTICIPATION IN THIS SERVICESE WILL CONSTITUTE<br>
                ACCEPTANCE OF JEVANT SERVICESES PVT. LTD. AGREEMENT AND POLICES...”</u></h4>
            <ul>
                <li>Yours Privacy at MeraKaamKaaj.Com</li>
                <p>When registering you do not need to provide any information except the bare minimum that we need for your account: a username, email, phone number and a password. Unlike many other sites we will never sell the emails to unscrupulous spammers. In fact, we won't sell emails or give them to anyone regardless of their scruples unless we are ordered to by law (in the extreme case that law enforcement formally requests this information we will comply with the law). We collect no personal information about you when you visit our website unless you choose to provide this information to us. If you have any suggestions on how we can improve our commitment to your privacy please don't hesitate to contact us, there is nothing we know of that we can do to show more respect for your privacy but if you think there is let us know.</p>
                <li>What We Collect and Store Automatically</li>
                <p>If you do nothing during your visit but browse through the website, read pages, or download information, we will gather and store certain information about your visit automatically. This information does not identify you personally. Rather, information is kept in the aggregate. We automatically collect and store only the information about your visit. We use the information we collect to understand the traffic to our site (for example, it's important to know how much bandwidth the site uses so that we can purchase more if needed, if the "hits" to our site increase we need to pay more money for better hosting), and to help us make our site more useful to visitors like you.</p>
                <li>Motive to Collect your Data Information</li>
                <p><strong>MeraKaamKaaj.com collects your data in providing the manpower service as well as to improve quality and services of our company in following manners:</strong></p>
                <ol>
                    <li>For responding of your queries which submitted via the website &amp; social media. </li>
                    <li>For monitoring of total number of visitors, traffic and demographic patterns.</li>
                    <li>For improving, testing, and updating of the Site/Mobil app .For providing fast customer service.</li>
                    <li>For investigating, preventing, or taking legal action related to illegal activities, violations of our Terms of Use or Privacy Policy. </li>
                </ol>
                <li>ABOUT COOKIES</li>
                <ol>
                    <li>We do not collect personal information about an individual's online activities over time and across third-party Web sites or online services, nor do we allow third parties to do so, other than as described in this privacy policy.</li>
                    <li>To facilitate Site functionality and features, our service provider(s) may use cookies (with minimum data uses), or other similar technologies to collect technical data resulting from your activity on the Site, which we may coordinate with your account information &amp; service providers use this information to help us understand how the Site is being used and how to generally improve your experience when using the Site or to determine which areas of the Site are the most visited.</li>
                    <li>You can control whether your computer or device will allow cookies. To do so, consult your browser settings.</li>
                    <li>Please note that if you set your browser to disable cookies or other technologies, you may not be able to access certain parts of the Site. Additionally, parts of the Site may not work properly.</li>
                </ol>
                <li>ABOUT SHARING OF YOUR DATA</li>
                <ol>
                    <li>MeraKaamKaaj.Com may share your data only with the registered persons/industry which shows interest in our company services. </li>
                    <li>In limited circumstances, we may share your information with our service providers when it is necessary for them to perform the services for which they were hired. </li>
                    <li>Our service providers are required to keep any information related to visitors &amp; users of the Website confidential.</li>
                    <li>Merakaamkaaj.com may access, preserve, and disclose personal information collected from the Website and/or over phone to law enforcement, regulatory, government agencies, or third parties pursuant to legal process or as otherwise required by law, or, in our sole discretion, to protect our rights, property or interests, or to enforce this Policy or our Terms of Use. </li>
                    <li>Personally identifiable information collected from the Website and over phone may also be transferred as part of a corporate sale, restructuring, bankruptcy, or transfer of assets.</li>
                </ol>
                <li>POSTING TO THE SITE</li>
                <ol>
                    <li>. If you post a message on the site it is stored in a database. The pages then display information from the database so that others can read your post on the forums. This is how any dynamic site works, the text has to be stored somewhere so that it can be displayed.</li>
                </ol>
                <li>LINKS TO OTHER SITES</li>
                <ol>
                    <li>Our website has links to partners and other sites. When you link to another site, you are no longer on our site and are subject to the privacy policy of the new site.</li>
                </ol>
                <li>RESTRICTION OF LIABILITY</li>
                <ol>
                    <li>The Accuracy and Confidentiality of Your Account Information Is Your Responsibility: You are responsible for maintaining the secrecy and accuracy of your password, email address, and other account information at all times.</li>
                    <li>We recommend a strong password that you do not use with other services. We are not responsible for personal data transmitted to a third party as a result of an incorrect email address.</li>
                    <li>Our company  makes no claims, promises or guarantees about the accuracy, completeness, or adequacy of the contents of this website and expressly disclaims liability for errors and omissions in the contents of this website.</li>
                    <li>No warranty of any kind, implied, expressed or statutory, including fitness for a particular purpose and freedom from computer virus, is given with respect to the contents of this website or its hyperlinks to other Internet resources. </li>
                    <li><strong>Children's Privacy:</strong> MeraKaamKaaj.com ( or Jevant Services Pvt. Ltd. ) does not knowingly collect or solicit information from any persons under the age of 18 or knowingly allow such persons to register for the Site. The Site and its content are not designed for or intentionally directed to children under the age of 18.</li>
                    <li><strong>Policy Changes:</strong> MeraKaamKaaj.com may update this Privacy Policy to reflect changes to our information practices. If we make any change in how we use your personal information we will notify you by means of a notice on this Website prior to the change becoming effective. </li>
                    <li>We encourage you to periodically review this page for the latest information on our privacy practices.</li>
                </ol>
                <h4 class="text-center;" style="text-align:center;font-weight:bold;">“Advertisements are subject to the Privacy Policy of the advertising site”.<br>
“All trademarks and copyrights held by respective owners. Member comments are owned by the poster”.
</h4>
            </ul>
    
	    <h2>Privacy Policy</h2> <p> merakaamkaaj built the merakaamkaaj app as a Free app. This SERVICE is provided by
                    merakaamkaaj at no cost and is intended for use as is.
                  </p> <p>This page is used to inform visitors regarding our policies with the collection, use, and disclosure
                    of Personal Information if anyone decided to use our Service.
                  </p> <p>If you choose to use our Service, then you agree to the collection and use of information in
                    relation to this policy. The Personal Information that we collect is used for providing and improving
                    the Service. We will not use or share your information with anyone except as described
                    in this Privacy Policy.
                  </p> <p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is
                    accessible at merakaamkaaj unless otherwise defined in this Privacy Policy.
                  </p> <p><strong>Information Collection and Use</strong></p> <p>For a better experience, while using our Service, we may require you to provide us with certain
                    personally identifiable information, including but not limited to in this web view application needs user address,email and mobile number to registered successfully and to provide better service employer and employee.. The information that we request will be retained by us and used as described in this privacy policy.
                  </p> <p>The app does use third party services that may collect information used to identify you.</p> <div><p>Link to privacy policy of third party service providers used by the app</p> <ul><li><a href="https://www.google.com/policies/privacy/" target="_blank">Google Play Services</a></li><!----><!----><!----><!----><!----><!----><!----><!----></ul></div> <p><strong>Log Data</strong></p> <p> We want to inform you that whenever you use our Service, in a case of
                    an error in the app we collect data and information (through third party products) on your phone
                    called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address,
                    device name, operating system version, the configuration of the app when utilizing our Service,
                    the time and date of your use of the Service, and other statistics.
                  </p> <p><strong>Cookies</strong></p> <p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers.
                    These are sent to your browser from the websites that you visit and are stored on your device's internal
                    memory.
                  </p> <p>This Service does not use these “cookies” explicitly. However, the app may use third party code and
                    libraries that use “cookies” to collect information and improve their services. You have the option to
                    either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose
                    to refuse our cookies, you may not be able to use some portions of this Service.
                  </p> <p><strong>Service Providers</strong></p> <p> We may employ third-party companies and individuals due to the following reasons:</p> <ul><li>To facilitate our Service;</li> <li>To provide the Service on our behalf;</li> <li>To perform Service-related services; or</li> <li>To assist us in analyzing how our Service is used.</li></ul> <p> We want to inform users of this Service that these third parties have access to
                    your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However,
                    they are obligated not to disclose or use the information for any other purpose.
                  </p> <p><strong>Security</strong></p> <p> We value your trust in providing us your Personal Information, thus we are striving
                    to use commercially acceptable means of protecting it. But remember that no method of transmission over
                    the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee
                    its absolute security.
                  </p> <p><strong>Links to Other Sites</strong></p> <p>This Service may contain links to other sites. If you click on a third-party link, you will be directed
                    to that site. Note that these external sites are not operated by us. Therefore, we strongly
                    advise you to review the Privacy Policy of these websites. We have no control over
                    and assume no responsibility for the content, privacy policies, or practices of any third-party sites
                    or services.
                  </p> <p><strong>Children’s Privacy</strong></p> <p>These Services do not address anyone under the age of 13. We do not knowingly collect
                    personally identifiable information from children under 13. In the case we discover that a child
                    under 13 has provided us with personal information, we immediately delete this from
                    our servers. If you are a parent or guardian and you are aware that your child has provided us with personal
                    information, please contact us so that we will be able to do necessary actions.
                  </p> <p><strong>Changes to This Privacy Policy</strong></p> <p> We may update our Privacy Policy from time to time. Thus, you are advised to review
                    this page periodically for any changes. We will notify you of any changes by posting
                    the new Privacy Policy on this page. These changes are effective immediately after they are posted on
                    this page.
                  </p> <p><strong>Contact Us</strong></p> <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact
                    us at https://merakaamkaaj.com.
                  </p> <p>This privacy policy page was created at <a href="https://privacypolicytemplate.net" target="_blank">privacypolicytemplate.net</a>
                    and modified/generated by <a href="https://app-privacy-policy-generator.firebaseapp.com/" target="_blank">App
                      Privacy Policy Generator</a></p>
    </div>
