<style type="text/css">
  .RightJobsActive{
          background-color: #d64408 !important;
          border-radius: 5px !important;
          color: yellow !important;
        }
</style>
 
<!-- HEADER 
=================-->
<header id="conent" class="header-cat header-cat-1"> 
<div class="container">
  <form action="/search/jobs" method="GET">
    <div class="row">
    <div class="col-md-12 text-center">
      <h1>FIND YOUR RIGHT JOBS</h1>
    </div>
    <div class="header-input">
      <select style="display: block!important; padding: 6px 38px; width: 100%; color: #777; -webkit-appearance: none; border: none; border-radius: 3px; background: #fff;" id="ContentPlaceHolder1_ddljobcat sort-news" name="jobType" class="txt-dropdown">
        {{#each jobcategorys}}
        <option value="{{JobCategory}}">{{JobCategory}}</option>
        {{/each}}

      </select>
      <input class="header-int" style="margin: 5px;" type="text" name="state" placeholder="Location / Pincode in Delhi NCR">
      <button type="submit" class="header_search">Search</button>
    </div>
  </div>
</form>
</div>
</header>

<form action="/filter/search/jobs" method="GET">
  <div class="row">
    <div class="col-md-3">
      <div class="details-card_1">
        <button style="font-weight: bold;" type="button" class="filter_btn" id="filter">filter <i style="position: absolute; right:
        20px; font-size: 20px; top: 13px;" class="fa fa-filter"></i></button>
        <div style="background:#fff;width:100%; display: none; padding: 15px;" id="filteraes">

        <button style="margin-bottom: 10px;" type="button" class="filter_btn" id="filter1">Select Job Type <i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" id="plus1" class="fa fa-plus"></i><i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" class="fa fa-minus"></i></button>
        <div style="width:100%; height: 100px; display: none;" id="filteraes1">
          <select style="padding: 5px 38px; display: block!important; color: #777; -webkit-appearance: none; border: 1px solid #ddd;border-radius: 5px;">
            <option>work</option>
          </select>

        </div>



      <button type="button" style="margin-bottom: 10px;" class="filter_btn" id="filter2">Any Salery Range <i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" id="plus2" class="fa fa-plus"></i><i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" class="fa fa-minus"></i></button>
      <div style="width:100%; display: none;" id="filteraes2">
        <form>
          <input class="Sallery_input" type="text" name="salarygte" placeholder="Type Salery"><br>
          <div style="display: flex; justify-content: center; align-items: center; padding: 5px;">
          <p style="text-align: center; margin-bottom: 0px; width: 35px; height: 34px; padding: 5px; border: 1px solid #555; border-radius: 100px;">To</p>
        </div>
          <input style="margin-bottom: 10px;" class="Sallery_input" type="text" name="salarylte" placeholder="Type Salery">
        <button type="submit" style="margin-bottom: 10px; margin-left: 10px;" class="ghst-btn Experiance_btn">Search</button>        
        </form>
      </div>


      <button type="button" style="margin-bottom: 10px;" class="filter_btn" id="filter3">Gender <i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" id="plus3" class="fa fa-plus"></i><i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" class="fa fa-minus"></i></button>
      <div style="width:100%; display: none;" id="filteraes3">
        <form>
        <div class="control-group">
          <label class="control control--checkbox">Male
            <input name="gender" value="Male" type="checkbox"/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--checkbox">Female
            <input name="gender" value="Female" type="checkbox"/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--checkbox">Other
            <input name="gender" value="Other" type="checkbox"/>
            <div class="control__indicator"></div>
          </label>
          <button type="submit" style="margin-bottom: 10px; margin-left: 10px;" class="ghst-btn Experiance_btn">Search</button>
          
        </div>
      </form>

      </div>


      <button type="button" style="margin-bottom: 10px;" class="filter_btn" id="filter4">Timing <i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" id="plus4" class="fa fa-plus"></i><i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" class="fa fa-minus"></i></button>
      <div style="width:100%; display: none;" id="filteraes4">
        <div class="control-group">
          <label class="control control--checkbox">Full Time Day 
            <input name="timing" value="Full Time Day" type="checkbox"/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--checkbox">Full Time Night
            <input name="timing" value="Full Time Night" type="checkbox"/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--checkbox">Part Time Morning
            <input name="timing" value="Part Time Morning" type="checkbox"/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--checkbox">Part Time Evening
            <input name="timing" value="Part Time Evening" type="checkbox"/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--checkbox">Daily Based
            <input name="timing" value="Daily Based" type="checkbox"/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--checkbox">On Requirement
            <input name="timing" value="On Requirement" type="checkbox"/>
            <div class="control__indicator"></div>
          </label>
          
        </div>
      </div>


      <button type="button" style="margin-bottom: 10px;" class="filter_btn" id="filter5">Experiance <i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" id="plus5" class="fa fa-plus"></i><i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" class="fa fa-minus"></i></button>
      <div style="width:100%; display: none;" id="filteraes5">
        <div class="control-group">
          <label class="control control--checkbox">0 - 2 years 
            <input name="experience" value="0-2" type="checkbox"/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--checkbox">2 - 5 years
            <input name="experience" value="2-5" type="checkbox"/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--checkbox">5 - 10 years
            <input name="experience" value="5-10" type="checkbox"/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--checkbox">10 years
            <input name="experience" value="10-10" type="checkbox"/>
            <div class="control__indicator"></div>
          </label>
        </div>
        <button type="submit" style="margin-bottom: 10px; margin-left: 10px;" class="ghst-btn Experiance_btn">Search</button>
      </div>


      <button type="button" style="margin-bottom: 10px;" class="filter_btn" id="filter6">ID <i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" id="plus6" class="fa fa-plus"></i><i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" class="fa fa-minus"></i></button>
      <div style="width:100%; display: none;" id="filteraes6">
        <input style="margin-bottom: 10px;" class="Sallery_input" type="text" name="id" placeholder="ID">
        <button style="margin-bottom: 10px;" class="ghst-btn Experiance_btn">Search</button>
      </div>

    </div>
    <div>
      <img src="/img/contact_us.jpg" style="width: 100%;">
    </div>


  </div>
  </div>
<!-- </div> -->
</form>


<div class="col-md-9 alljobsDetails" style="display: flex; flex-direction: column;">
<h1 style="text-align: center; color: red; margin-bottom: 5%;">{{message}}</h1>


{{#each allJobs}}

<div class=" details-card" id="updatetable">
  <div class="candDetails">
    <div class="imageUser">
      <i class="icon-male userIcon"></i>
    </div>           



      <!-- <=============================data========================================>   -->
<div class="userDetails mb5">
        <div class="candName">
            <span class="job-type" title="{{jobType}}">{{jobType}}</span>
            <!-- <span class="candAge">20 years  </span> -->
            <span class="id_verified hidden-xs hidden-sm" title="One of following Govt. ID is verified for this candidate - PAN card, Aaadhar card, Driving License, Voter Id "></span>
        </div>   
    </div>

    <div class="employee-name">
        <div class="cnctAndDwmload">
        </div>
    </div>


    <div class="employee-details">
        <ul class="emp-list">
           <span class="emp-heading">Specialisation/Skills </span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{skills}}"><span class="brief-skills">{{skills}}</span><span class="morecontent"></span></span>
           </span>
         </li>
        <li>
           <span class="emp-heading">Job Description</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{jobDescription}}">{{jobDescription}} </span>
           </span>
         </li>
                              <li>
           <span class="emp-heading">Vacancy</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{aVacancy}}">{{aVacancy}} </span>
           </span>
         </li>
                                          <li>
           <span class="emp-heading">Job Expiry date</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{expiryDate}}"> {{expiryDate}}</span>
           </span>
         </li>
                              <li>
           <span class="emp-heading">Country</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{country}}"> {{country}} </span>
           </span>
         </li>
          
      <div id="{{_id}}" class="collapse">     
          <li>
           <span class="emp-heading">State</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{state}}"> {{state}} </span>
           </span>
         </li>

          <li>
           <span class="emp-heading">Job Area </span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{jobArea}}"> {{jobArea}} </span>
           </span>
         </li>

          <li>
           <span class="emp-heading">Pin Code</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{pinCode}}"> {{pinCode}} </span>
           </span>
         </li>

          <li>
           <span class="emp-heading">Job Address</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{jobAddress}}"> {{jobAddress}} </span>
           </span>
         </li>

          <li>
           <span class="emp-heading">Salary</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{salary}}">{{salary}}</span>
           </span>
         </li>
                    
        <li>
           <span class="emp-heading">Reqd. Experience </span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{experience}}">{{experience}}</span>
           </span>
         </li>

        <li>
           <span class="emp-heading">Shift</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{shift}}">{{shift}}</span>
           </span>
         </li>

        <li>
           <span class="emp-heading">Gender</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{gender}}">{{gender}}</span>
           </span>
         </li>

            <li>
           <span class="emp-heading">Educations</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{educations}}">{{educations}}</span>
           </span>
         </li>

          <li>
           <span class="emp-heading">Known Language</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{knownLanguage}}">{{knownLanguage}}</span>
           </span>
         </li>

         <li>
           <span class="emp-heading">Name of Company/Bussiness/Other</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{companyName}}">{{companyName}}</span>
           </span>
         </li>
                    
        <li>
           <span class="emp-heading">Name of Representative</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{nameOfRepresentative}}">{{nameOfRepresentative}}</span>
           </span>
         </li>

        <li>
           <span class="emp-heading">Mobile</span>
           <span class="emp-rep">
             <a href="tel:{{mobile}}"><span class="jsProfileItem more trucateText" title="{{mobile}}">{{mobile}}</span></a>
           </span>
         </li>

        <li>
           <span class="emp-heading">Landline No</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{landline}}">{{landline}}</span>
           </span>
         </li>

            <li>
           <span class="emp-heading">Email </span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{email}}">{{email}}</span>
           </span>
         </li>

         <li>
           <span class="emp-heading">Addhar/Voter Card No.</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{idCardNumber}}">{{idCardNumber}}</span>
           </span>
         </li>

             <li>
           <span class="emp-heading">Address of Employer</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="Erode, Coimbatore, Madurai, Noida">{{addressOfEmployer}}</span>
           </span>
         </li>

        <li>
           <span class="emp-heading">Contact Timing</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{contactTiming}}">{{contactTiming}}</span>
           </span>
         </li>

            <li>
           <span class="emp-heading">Looking Overseas</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{lookingOverseas}}">{{lookingOverseas}}</span>
           </span>
         </li>

         <li>
           <span class="emp-heading">Payment Plan</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{paymentPlan}}">{{paymentPlan}}</span>
           </span>
         </li>
      </div>      
                                         
         <!-- ?php// } ? -->
        </ul>
    </div>




    <div class="hidden-lg hidden-md card-view pull-right hidden-xs hidden-sm"><i class="icon-basic_eye"></i><span>  </span>
    </div>
   
   <div class="button-div">
 
    <button class="download-btn ghst-btn demo-action InstantActionbuttons" data-toggle="collapse" data-target="#{{_id}}" type="button">View all details</button> 

    <div class="container">
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Mera Kaam Kaaj</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <h3>Please Contect to the Office</h3>
          <div class="cont-info number">
            <i class="fa fa-phone"></i>
            <a href="tel:1234567890">+91-7428 73 73 73 <br> 7428 76 76 76 </a>
          </div>
          <div class="cont-info mail">
            <i class="fa fa-envelope-o"></i>
            <a href="mail@startup.com">merakaamkaaj@gmail.com</a>
          </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" style="background-color: #f16024 !important; {{button}}" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>

  </div>
    </div>
    </div>
  {{/each}}
  <div id="main_header2"></div>
  <input type="button" class="btn loadmorebtn2" style="background: #f16024; color: #fff;" value="Laod more">

    </div>

    </div>

<!-- ================================================================================ -->
 


<script type="text/javascript">
  var counterload2 = 0;
$(".loadmorebtn2").click(function() {
  $(".loadmorebtn2").val('Loading.......');
  counterload2++;
  $.ajax({
    url : "/get/rightjob/with/limit?jobType="+title+"&count="+counterload2,
    type : "GET",
    dataType: 'json',
    success : function(data){
      if (data.length == 0) {
        $(".loadmorebtn").val('Finish');
        return false
      }
      console.log(data)
      var HTML = '';
      for (var i = 0; i < data.length; i += 1) {
        HTML = '<div class="details-card"><div class="candDetails"><div class="imageUser"><img src="/img/img/Female_avatar-06-512.png" style="width: 20px; height: 30px;"></div><div class="userDetails mb5"><div class="candName"><span class="job-type" title="'+data[i].jobType+'">'+data[i].jobType+'</span><span class="id_verified hidden-xs hidden-sm" title="One of following Govt. ID is verified for this candidate - PAN card, Aaadhar card, Driving License, Voter Id "></span></div></div><div class="employee-name"><div class="cnctAndDwmload"></div></div><div class="employee-details"><ul class="emp-list"><li><span class="emp-heading">Specialisation/Skills</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].skills+'"><span class="brief-skills">'+data[i].skills+'</span><span class="morecontent"></span></span></span></li><li><span class="emp-heading">Job Description</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].jobDescription+'">'+data[i].jobDescription+'</span></span></li><li><span class="emp-heading">Vacancy</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].aVacancy+'">'+data[i].aVacancy+'</span></span></li><li><span class="emp-heading">Job Expiry date</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].expiryDate+'">'+data[i].expiryDate+'</span></span></li><li><span class="emp-heading">Service Providing Country</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].country+'">'+data[i].country+'</span></span></li><div id="'+data[i]._id+'" class="collapse"><li><span class="emp-heading">Service Providing state</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].state+'">'+data[i].state+'</span></span></li><li><span class="emp-heading">Job Area</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].jobArea+'">'+data[i].jobArea+'</span></span></li><li><span class="emp-heading">Pin Code</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].pinCode+'">'+data[i].pinCode+'</span></span></li><li><span class="emp-heading">Job Address</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].jobAddress+'">'+data[i].jobAddress+'</span></span></li><li><span class="emp-heading">Salary</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].salary+'">'+data[i].salary+'</span></span></li><li><span class="emp-heading">Reqd. Experience</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].experience+'">'+data[i].experience+'</span></span></li><li><span class="emp-heading">Shift</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].shift+'">'+data[i].shift+'</span></span></li><li><span class="emp-heading">Gender</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].gender+'">'+data[i].gender+'</span></span></li><li><span class="emp-heading">Educations</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].educations+'">'+data[i].educations+'</span></span></li><li><span class="emp-heading">known Language</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].knownLanguage+'">'+data[i].knownLanguage+'</span></span></li><li><span class="emp-heading">Name of Company/Bussiness/Other</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].companyName+'">'+data[i].companyName+'</span></span></li><li><span class="emp-heading">Name of Representative</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].nameOfRepresentative+'">'+data[i].nameOfRepresentative+'</span></span></li><li><span class="emp-heading">Mobile</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].mobile+'">'+data[i].mobile+'</span></span></li><li><span class="emp-heading">Landline No</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].landline+'">'+data[i].landline+'</span></span></li><li><span class="emp-heading">Email</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].email+'">'+data[i].email+'</span></span></li><li><span class="emp-heading">Addhar/Voter Card No.</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].idCardNumber+'">'+data[i].idCardNumber+'</span></span></li><li><span class="emp-heading">Address of Employer</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].addressOfEmployer+'">'+data[i].addressOfEmployer+'</span></span></li><li><span class="emp-heading">Contact Timing</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].contactTiming+'">'+data[i].contactTiming+'</span></span></li><li><span class="emp-heading">Looking Overseas</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].lookingOverseas+'">'+data[i].lookingOverseas+'</span></span></li></div></ul></div><div class="hidden-lg hidden-md card-view pull-right hidden-xs hidden-sm"><i class="icon-basic_eye"></i><span></span></div><div class="button-div"><button data-toggle="modal" data-target="#myModal" class="ghst-btn demo-action InstantActionbuttons" type="button">Email</button><button class="download-btn ghst-btn demo-action InstantActionbuttons" data-toggle="collapse" data-target="#'+data[i]._id+'" type="button">View all details</button></div></div></div>'
        $("#main_header2").append(HTML)
        $(".loadmorebtn2").val('load more')
        }
    },
  });
});
</script>
