<style type="text/css">
  .ServiceActive{
          background-color: #d64408 !important;
          border-radius: 5px !important;
          color: yellow !important;
        }
</style>
<!-- =================-->
  <header id="conent" class="header-cat header-cat-2"> 
    <div class="container">
      <form action="/search/service" method="GET">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>FIND SERVICES PROVIDER</h1>
        </div>
        <div class="header-input">
      <select style="display: block!important; padding: 6px 38px; width: 100%; color: #777; -webkit-appearance: none; border: none; border-radius: 3px; background: #fff;"id="ContentPlaceHolder1_ddljobcat " name="TypeOfService" class="txt-dropdown">
        {{#each services}}
        <option value="{{Service}}">{{Service}}</option>
        {{/each}}

      </select>
      <!-- <input class="header-int" style="margin: 5px;" type="text" name=""> -->
      <input class="header-int" style="margin: 5px;" type="text" name="State" placeholder="Location / Pincode in Delhi NCR">
      <button type="submit" class="header_search">Search</button>
    </div>
  </div>
</form>
</div>
</header>



<div class="row">
    <div class="col-md-3">
      <div class="details-card_1">
        <button style="font-weight: bold;" class="filter_btn" id="filter">filter <i style="position: absolute; right:
        20px; font-size: 20px; top: 13px;" class="fa fa-filter"></i></button>
        <div style="background:#fff;width:100%; display: none; padding: 15px;" id="filteraes">

      <button style="margin-bottom: 10px;" class="filter_btn" id="filter2">Find Service by Area <i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" id="plus2" class="fa fa-plus"></i><i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" class="fa fa-minus"></i></button>
      <div style="width:100%; display: none;" id="filteraes2">
        <form action="/filter/search/service-by-area" method="GET">
          <input class="Sallery_input" type="text" name="Area" placeholder="Area"><br>
          <button type="submit" style="margin-bottom: 10px; margin-left: 10px;" class="ghst-btn Experiance_btn">Search</button>
        </form>
      </div>


      <button style="margin-bottom: 10px;" class="filter_btn" id="filter4">Specification <i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" id="plus4" class="fa fa-plus"></i><i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" class="fa fa-minus"></i></button>
      <form action="/filter/search/service-by-specification" method="GET">
      <div style="width:100%; display: none;" id="filteraes4">
        <input class="Sallery_input" type="text" name="specification" placeholder="Specification"><br>        
        <button type="submit" style="margin-bottom: 10px; margin-left: 10px;" class="ghst-btn Experiance_btn">Search</button>
      </div>
    </form>

      <button style="margin-bottom: 10px;" class="filter_btn" id="filter6">ID <i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" id="plus6" class="fa fa-plus"></i><i style="position: absolute; right: 20px; font-size: 20px; top: 13px;" class="fa fa-minus"></i></button>
      <div style="width:100%; display: none;" id="filteraes6">
        <form action="/filter/search/service-by-id" method="GEt">
          <input style="margin-bottom: 10px;" class="Sallery_input" type="text" name="serviceid" placeholder="ID">
    
          <button style="margin-bottom: 10px;" class="ghst-btn Experiance_btn">Search</button>
        </form>
      </div>

    </div>
    <div>
      <img src="/img/contact_us.jpg" style="width: 100%;">
    </div>


  </div>
  </div>   




<div class="col-md-9" style="display: flex; flex-direction: column;">

<h1 style="text-align: center; color: red; margin-bottom: 5%;">{{message}}</h1>
{{#each allService}}
  <div class="details-card">
    <div class="candDetails">
      <div class="imageUser">
        <img src="/img/startup_logo_32dp.png" style="width: 20px; height: 30px;">
      </div>           
      <div class="userDetails mb5">
        <div class="candName">
          <span class="TypeOfService" title="{{Agency }} {{ TypeOfService}}">{{Agency }} {{ TypeOfService}}</span><br>
          <span class="TypeOfService" title="{{serviceid}}">{{serviceid}}</span>

          <!-- <span class="candAge">20 years  </span> -->
          <span class="id_verified hidden-xs hidden-sm" title="One of following Govt. ID is verified for this candidate - PAN card, Aaadhar card, Driving License, Voter Id "></span>
        </div>
      </div>
      <div class="employee-name">
        <div class="cnctAndDwmload">
        </div>
      </div>
      <div class="employee-details">
        <ul class="emp-list">
          <li>
           <span class="emp-heading">Service Specification</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{Specification}}"><span class="brief-skills">{{Specification}}</span><span class="morecontent"></span></span>
           </span>
         </li>
        <li>
           <span class="emp-heading">Timing for Provide Services</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{ProvideServices}}">{{ProvideServices}} </span>
           </span>
         </li>
         <li>
           <span class="emp-heading">Services Provider Registered on</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{ProviderRegistered}}">{{ProviderRegistered}} </span>
           </span>
         </li>
         <li>
           <span class="emp-heading">Services Registered Expiry Date</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{RegisteredExpiry}}"> {{RegisteredExpiry}}</span>
           </span>
         </li>
         <li>
           <span class="emp-heading">Service Providing Country</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{Country}}"> {{Country}} </span>
           </span>
         </li>
      <div id="{{_id}}" class="collapse">
         <li>
           <span class="emp-heading">Service Providing state</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{State}}"> {{State}} </span>
           </span>
         </li>
          <li>
           <span class="emp-heading">Service Providing City</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{City}}"> {{City}} </span>
           </span>
         </li>
          <li>
           <span class="emp-heading">Services Providing Area</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{Area}}"> {{Area}} </span>
           </span>
         </li>
          <li>
           <span class="emp-heading">Services Provider Agency Name</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{Agency}}"> {{Agency}} </span>
           </span>
         </li>
          <li>
           <span class="emp-heading">Name of Representative/Service Provider</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{Representative}}">{{Representative}}</span>
           </span>
         </li>
                    
        <li>
           <span class="emp-heading">Mobile Number</span>
           <span class="emp-rep">
             <a href="tel:{{MobileNumber}}"><span class="jsProfileItem more trucateText" title="{{MobileNumber}}">{{MobileNumber}}</span></a>
           </span>
         </li>
        <li>
           <span class="emp-heading">Landline Number</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{LandNumber}}">{{LandNumber}}</span>
           </span>
         </li>
        <li>
           <span class="emp-heading">Contact Timing</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{Timing}}">{{Timing}}</span>
           </span>
         </li>
          <li>
           <span class="emp-heading">Aadhar Card/Voter Card No./Other</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{aadharcard}}">{{aadharcard}}</span>
           </span>
         </li>
         <li>
           <span class="emp-heading">Website</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{website}}">{{website}}</span>
           </span>
         </li>
                    
        <li>
           <span class="emp-heading">Email/Mobile</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{emailMobile}}">{{emailMobile}}</span>
           </span>
         </li>
        <li>
           <span class="emp-heading">Address Of Services Provider</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{address}}">{{address}}</span>
           </span>
         </li>
        <li>
           <span class="emp-heading">Pincode</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{pincode}}">{{pincode}}</span>
           </span>
         </li>
            <li>
           <span class="emp-heading">Any Information About Your Services</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{information}}">{{information}}</span>
           </span>
         </li>
         <li>
           <span class="emp-heading">Payment Plan</span>
           <span class="emp-rep">
             <span class="jsProfileItem more trucateText" title="{{payment}}">{{payment}}</span>
           </span>
         </li>  
      </div>                           
         <!-- ?php// } ? -->
        </ul>
      </div>
      <div class="hidden-lg hidden-md card-view pull-right hidden-xs hidden-sm"><i class="icon-basic_eye"></i><span></span>
      </div>


    <div class="button-div"> 
      <button class="download-btn ghst-btn demo-action InstantActionbuttons" data-toggle="collapse" data-target="#{{_id}}" type="button">View all details</button> 
    </div>

  </div>
</div>

{{/each}}
<div id="main_header1"></div>
<input type="button" class="btn loadmorebtn1" style="background: #f16024; color: #fff;" value="Laod more">
</div>
</div>

<script type="text/javascript">
var counterload1 = 0;
$(".loadmorebtn1").click(function() {
  $(".loadmorebtn1").val('Loading.......');
  counterload1++;
  var hash = window.location.search.substring(1);
  var url1 = window.location.href;
  var path = window.location.pathname;
  $.ajax({
    url : path+'/json?count='+counterload1+'&'+hash,
    type : "GET",
    dataType: 'json',
    success : function(data){
      if (data.length == 0) {
        $(".loadmorebtn1").val('Finish');
        return false
      }
      console.log(data)
      var HTML = '';
      for (var i = 0; i < data.length; i += 1) {
        HTML = '<div class="details-card""><div class="candDetails"><div class="imageUser"><img src="/img/img/Female_avatar-06-512.png" style="width: 20px; height: 30px;"></div><div class="userDetails mb5"><div class="candName"><span class="TypeOfService" title="'+data[i].Agency+ ' '+data[i].TypeOfService+'">'+data[i].Agency+ ' '+data[i].TypeOfService+'</span><br><span class="TypeOfService" title="'+data[i].serviceid+'">'+data[i].serviceid+'</span><span class="id_verified hidden-xs hidden-sm" title="One of following Govt. ID is verified for this candidate - PAN card, Aaadhar card, Driving License, Voter Id "></span></div></div><div class="employee-name"><div class="cnctAndDwmload"></div></div><div class="employee-details"><ul class="emp-list"><li><span class="emp-heading">Service Specification</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].Specification+'"><span class="brief-skills">'+data[i].Specification+'</span><span class="morecontent"></span></span></span></li><li><span class="emp-heading">Timing for Provide Services</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].ProvideServices+'">'+data[i].ProvideServices+'</span></span></li><li><span class="emp-heading">Services Provider Registered on</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].ProviderRegistered+'">'+data[i].ProviderRegistered+'</span></span></li><li><span class="emp-heading">Services Registered Expiry Date</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].RegisteredExpiry+'">'+data[i].RegisteredExpiry+'</span></span></li><li><span class="emp-heading">Service Providing Country</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].Country+'">'+data[i].Country+'</span></span></li><div id="'+data[i]._id+'" class="collapse"><li><span class="emp-heading">Service Providing state</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].State+'">'+data[i].State+'</span></span></li><li><span class="emp-heading">Service Providing City</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].City+'">'+data[i].City+'</span></span></li><li><span class="emp-heading">Services Providing Area</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].Area+'">'+data[i].Area+'</span></span></li><li><span class="emp-heading">Services Provider Agency Name</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].Agency+'">'+data[i].Agency+'</span></span></li><li><span class="emp-heading">Name of Representative/Service Provider</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].Representative+'">'+data[i].Representative+'</span></span></li><li><span class="emp-heading">Mobile Number</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].MobileNumber+'">'+data[i].MobileNumber+'</span></span></li><li><span class="emp-heading">Landline Number</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].LandNumber+'">'+data[i].LandNumber+'</span></span></li><li><span class="emp-heading">Contact Timing</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].Timing+'">'+data[i].Timing+'</span></span></li><li><span class="emp-heading">Aadhar Card/Voter Card No./Other</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].aadharcard+'">'+data[i].aadharcard+'</span></span></li><li><span class="emp-heading">Website</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].website+'">'+data[i].website+'</span></span></li><li><span class="emp-heading">Email/Mobile</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].emailMobile+'">'+data[i].emailMobile+'</span></span></li><li><span class="emp-heading">Address Of Services Provider</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].address+'">'+data[i].address+'</span></span></li><li><span class="emp-heading">Pincode</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].pincode+'">'+data[i].pincode+'</span></span></li><li><span class="emp-heading">Any Information About Your Services</span><span class="emp-rep"><span class="jsProfileItem more trucateText" title="'+data[i].information+'">'+data[i].information+'</span></span></li> </div></ul></div><div class="hidden-lg hidden-md card-view pull-right hidden-xs hidden-sm"><i class="icon-basic_eye"></i><span></span></div><div class="button-div"><button data-toggle="modal" data-target="#myModal" class="ghst-btn demo-action InstantActionbuttons" type="button">Email</button><button class="download-btn ghst-btn demo-action InstantActionbuttons" data-toggle="collapse" data-target="#'+data[i]._id+'" type="button">View all details</button></div></div></div>'
        $("#main_header1").append(HTML);
        $(".loadmorebtn1").val('Laod more');

      }
    },
  });
});
        </script>

