
<style type="text/css">
    .pagination>li>a, .pagination>li>span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    div.dataTables_wrapper div.dataTables_paginate {
        margin: 0;
        white-space: nowrap;
        text-align: right;
    }
    .col-sm-6 {
         width: 50%; 
    }
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        margin: 2px 0;
        white-space: nowrap;
        margin-left: 50%;
    }
</style>


<div class="row">
    <div class="col-lg-4">
        <div>
            <button style="background: #f16024; color: #fff;" id="box_7" class="header_btn_change">Posted Job</button>
        </div>
    </div>
    <div class="col-lg-4">
        <div>
            <button id="box_8" class="header_btn_change">Posted Resume</button>
        </div>
    </div>
    <div class="col-lg-4">
        <div>
            <button id="box_9" class="header_btn_change">Posted Service</button>
        </div>
    </div>
    

</div>
                       
    <div id="section_7">
    <div class="row">
        <div class="col-lg-12">
            <div id="qunit"></div>
              <div class="au-card m-b-30" style="position: relative; margin-bottom: 100px !important;" id="qunit-fixture">
                <div class="h_container"> 
                    
                </div>
                <h2 style="position: absolute; color: #fff; text-shadow: 1px 1px 1px #777; ">Posted Job</h2>
                 
                    
                <form style="margin-top: 150px;">
                    <h4 style="color: #555; margin-bottom: 10px;">Search By Job ID</h4>
                    <input class="form-control" type="text" name="">
                    <input class="submit_btn" type="submit" name="" value="Search">
                </form>
                <div class="table-responsive" style="border-radius: 10px;">

                <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">Job ID</th>
                                <th scope="col">Company Name</th>
                                <th scope="col">Representetive</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Post Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead> 
                        <tbody>
                            {{#each jobs}} 
                            <tr id="{{_id}}">
                                <td data-label="JobID">{{JobID}}</td>
                                <td data-label="Company Name">{{companyName}}</td>
                                <td data-label="Representetive">{{nameOfRepresentative}}</td>
                                <td data-label="Mobile">{{mobile}}</td>
                                <td data-label="Post Date">{{date}}</td>
                                <td data-label="Action">
                                    <div class="">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More Option
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item getallData" title="{{_id}}" data-toggle="modal" data-target="#ModalView" href="#">View</a>
                                            <a class="dropdown-item DeleteJobsBtn" data-toggle="modal" title="{{companyName}}" value="{{_id}}" data-target="#ModalDelete" href="#">DELETE</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                            
                    </table>

              </div>
        
        
        </div>
    </div>
</div>

    </div>
    <div id="section_8">
        <div class="row">
            <div class="col-lg-12">
                <div id="qunit"></div>
                  <div class="au-card m-b-30" style="position: relative; margin-bottom: 100px !important;" id="qunit-fixture">
                    <div class="h_container">
                        
                    </div>
                    <h2 style="position: absolute; color: #fff; text-shadow: 1px 1px 1px #777; ">Posted Resume</h2>
                     
                        
                    <form style="margin-top: 150px;">
                        <h4 style="color: #555; margin-bottom: 10px;">Search By Resume Id</h4>
                        <input class="form-control" type="text" name="">
                        <input class="submit_btn" type="submit" name="" value="Search">
                    </form>
                    <div class="table-responsive" style="border-radius: 10px;">

                    <table id="example1" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Worker ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Post Date</th>
                                    <th scope="col">Action</th>
                                </tr> 
                            </thead>
                            <tbody>
                                {{#each resumedata}}
                                <tr id="{{_id}}">
                                    <td data-label="Worker ID">{{pwid}}</td>
                                    <td data-label="Name">{{Name}}</td>
                                    <td data-label="Mobile">{{Mobile}}</td>
                                    <td data-label="Post Date">{{date}}</td>
                                    <td data-label="Action">
                                        <div class="">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                More Option
                                            </button>
                                            <div class="dropdown-menu dropdownManue" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item gettinguserdata" title="{{_id}}" data-toggle="modal" data-target="#ModalView" href="#">View</a>
                                                <a class="dropdown-item DeleteResumeMOdal" title="{{Name}}" value="{{_id}}" data-toggle="modal" data-target="#ModalDelete" href="#">Delete</a>
                                            </div>
                                        </div> 
                                    </td>
                                </tr>
                                {{/each}}
                        </table>

                  </div>
            
            
            </div>
        </div>
    </div>


    </div>
    <div id="section_9">
        <div class="row">
            <div class="col-lg-12">
                <div id="qunit"></div>
                  <div class="au-card m-b-30" style="position: relative; margin-bottom: 100px !important;" id="qunit-fixture">
                    <div class="h_container">
                        
                    </div>
                    <h2 style="position: absolute; color: #fff; text-shadow: 1px 1px 1px #777; ">Posted Service</h2>
                     
                        
                    <form style="margin-top: 150px;">
                        <h4 style="color: #555; margin-bottom: 10px;">Search By Service Id</h4>
                        <input class="form-control" type="text" name="">
                        <input class="submit_btn" type="submit" name="" value="Search">
                    </form>
                    <div class="table-responsive" style="border-radius: 10px;">

                    <table id="example2" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Service ID</th>
                                    <th>Agency Name</th>
                                    <th>Mobile</th>
                                    <th>Post Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each service}}
                                <tr>
                                    <td data-label="Service ID">{{serviceid}}</td>
                                    <td data-label="Agency Name">{{Agency}}</td>
                                    <td data-label="Mobile">{{MobileNumber}}</td>
                                    <td data-label="Post Date">{{date}}</td>
                                    <td data-label="Update/Active/Delete/View">
                                            <div class="">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                More Option
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item getallService" title="{{_id}}" data-toggle="modal" data-target="#ModalView" href="#">View</a>
                                                <a class="dropdown-item deleteserbtn" title="{{Agency}}" value="{{_id}}" data-toggle="modal" data-target="#ModalDelete" href="#">Delete</a>
                                            </div>
                                            </div> 
                                        </td>
                                    </tr>
                                {{/each}}
                        </table>


                  </div>
            
            
            </div>
        </div>
        </div>
    </div>

<!-- view -->
<div class="modal fade" id="ModalView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">JOb</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="bodyforSingleDetails">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>


<!-- delete -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4><strong id="jobName"> </strong> will be permanently deleted. Are you sure you want to do this?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cencel</button>
                        <button type="button" class="btn btn-primary deletedsuccess">Delete</button>
                    </div>
                    </div>
                </div>
                </div>


                    
